.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: #fff;
  width: 120px;
  height: 34px;
  right: -34px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 7px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: 1px solid #ddd;
  color: #8d8989 ;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid #04883c;
  border-color: #04883c transparent transparent transparent;
  position: absolute;
  top: 15px;
  right: 10px;
}
.select-styled:hover {
  background-color: #fff;
}
.select-styled:active, .select-styled.active {
  background-color: #fff;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #04883c transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  color: #666 ;
}
.select-options li {
  margin: 0;
  padding: 5px 0;
  text-indent: 15px;
  border-bottom:1px solid #ddd;
  border-right:1px solid #ddd;
  border-left:1px solid #ddd;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li i { color: #000}
.select-options li:hover {
  color: #000;
  background: #f2f2f2;
}
.select-options li[rel="hide"] {
  display: none;
}
/* ON/OFF Switch */
.onoffswitch {
  position: relative;
  width: 55px;
  display: inline-block;
  font-size: 80%;
}
.onoffswitch .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin: 0;
}
.onoffswitch .onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.15s ease-in-out;
  -o-transition: margin 0.15s ease-in-out;
  -moz-transition: margin 0.15s ease-in-out;
  transition: margin 0.15s ease-in-out;
}
.onoffswitch .onoffswitch-inner:before,
.onoffswitch .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 80%;
  color: #000;
  font-weight: normal;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch .onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #04883c;
  color: #ffffff;
}
.onoffswitch .onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #dbdbdb;
  color: #3d3d3d;
  text-align: right;
}

.onoffswitch .onoffswitch-switch {
  width: 22px;
  height: 22px;
  margin: 0;
  background: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 35px;
  -webkit-transition: right 0.15s ease-in-out;
  -o-transition: right 0.15s ease-in-out;
  -moz-transition: right 0.15s ease-in-out;
  transition: right 0.15s ease-in-out;
}
.toggle-group {
  position: relative;
  height: 27px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 40%;
  left: 0px;
  margin-top: -13.5px;
  }
.toggle-group input[type=checkbox] {
  position: absolute;
  left: 10px;
  opacity: 0;
}
.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-switch {
  right: 1px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.toggle-group input[type=checkbox]:focus ~ .onoffswitch {
  outline: none;
  outline: 5px auto -webkit-focus-ring-color;
}
.toggle-group label {
  position: absolute;
  cursor: pointer;
  padding-left: 65px;
  display: inline-block;
  text-align: left;
  line-height: 24px;
  width: 100%;
  z-index: 1;
  height: 24px;
  font-weight: 200;
}
/* ==== Accessibility ===== */
.aural {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.aural:focus {
  clip: rect(0, 0, 0, 0);
  font-size: 1em;
  height: auto;
  outline: thin dotted;
  position: static !important;
  width: auto;
  overflow: visible;
}


.tab-content label { text-align: left ;}
.tab-content .form-control { font-size: 13px;}
.bold.btn, .sbold.btn {
	letter-spacing: 0
}

.btn:not(.btn-sm):not(.btn-lg) {
    line-height: 1.44;
}
.fileinput .btn {
    vertical-align: middle;
}
.btn.default.btn-file {background: #efe7e7;
color: #7e6666;
border-radius: 0;}
.thumbnail { margin-bottom: 10px;}
.thumbnail img { border-radius: 2px;}
.bor-top { border-top: 1px solid #ddd ;}
.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}
.profile-userpic {
	text-align: center;
}
.save_button { background: #04883c ; color: #fff ; margin-right: 0px; }
.page-content { margin: 45px 0px;}
.cancel_buttion { background: #e3e3e3 ; color: #434242 ;}
.save_button:hover {background: #e3e3e3 ; color: #434242 ;}
.cancel_buttion:hover {background: #04883c ; color: #fff ;}
.table td, .table th { padding: 0px;}
.profile-sidebar {
	float: left;
	width: 25%;
	margin-right: 20px ;
	background: #f2f2f266;
	border: 1px solid #ddd ;
	border-radius: 5px;
}
.page-fixed-main-content .profilebox-of { border: none ;}
 .profile-content {
	width: 73% ;
	padding:0 20px;
	float: left ;
}
.profile-sidebar-portlet {
	padding: 30px 0 0 ;}
.profile-userpic img {
	float: none;
	margin: 0 auto;
	width: 50%;
	height: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50% ;}
.profile-usertitle {
	text-align: center;
	margin-top: 20px
}
.profile-usertitle-name {
	color: #000;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 7px
}
.profile-usertitle-job {
	text-transform: uppercase;
	color: #005c27;
	font-size: 13px;
	margin-bottom: 7px ;
}
.profile-usertitle-job i { padding: 0 5px 0 0 ;}
.profile-userbuttons {
	text-align: center;
	margin-top: 10px
}
.profile-userbuttons .btn {
	margin-right: 5px
}
.profile-userbuttons .btn:last-child {
	margin-right: 0
}
.profile-userbuttons button {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
	padding: 6px 15px
}
.profile-usermenu {
	margin-top: 30px;
	padding-bottom: 20px
}
.profile-usermenu ul li {
	border-bottom: 1px solid #f0f4f7
}
.profile-usermenu ul li:last-child {
	border-bottom: none
}
.profile-usermenu ul li a {
	color: #93a3b5;
	font-size: 16px;
	font-weight: 400
}
.profile-usermenu ul li a i {
	margin-right: 8px;
	font-size: 16px
}
.profile-usermenu ul li a:hover {
	background-color: #fafcfd;
	color: #007d35
}
.profile-usermenu ul li.active a {
	color: #01aa49;
	background-color: #f6f9fb;
	border-left: 2px solid #5b9bd1;
	margin-left: -2px
}
.profile-stat {
	padding-bottom: 20px;
	border-bottom: 1px solid #f0f4f7
}
.profile-stat-title {
	color: #7f90a4;
	font-size: 25px;
	text-align: center
}
.profile-stat-text {
	color: #000;
	font-size: 12px;
	text-align: center
}
.profile-desc-title {
	color: #7f90a4;
	font-size: 17px;
	font-weight: 600
}
.profile-desc-text {
	color: #7e8c9e;
	font-size: 14px
}
.profile-desc-link i {
	width: 22px;
	font-size: 19px;
	color: #abb6c4;
	margin-right: 5px
}
.profile-desc-link a {
	font-size: 14px;
	font-weight: 600;
	color: #005d28 ;
}

@media (max-width:991px) {
.portlet.light > .portlet-title > .nav-tabs > li > a {width: 100%;
display: block; }
.portlet.light > .portlet-title > .nav-tabs > li.active > a, .portlet.light > .portlet-title > .nav-tabs > li:hover > a { width: 100% ; border-radius: 0px;}
.portlet.light > .portlet-title > .nav-tabs > li { display: block ; width: 100% ;}
.portlet > .portlet-title > .nav-tabs { display: block ;}
.profile-sidebar {
	float: none;
	width: 100%!important;
	margin: 0
}
.profile-sidebar>.portlet {
	margin-bottom: 20px
}
.profile-content {
	overflow: visible ;
	width: 100% ;
}
}
.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    direction: ltr;
}
.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
    display: none;
}

.display-hide, .display-none {
	display: none
}
.margin-top-20 { margin-top: 20px;}

@media (max-width:1024px) {
.hidden-1024 {
	display: none
}
}

@media (max-width:480px) {
.hidden-480 {
	display: none
}
}

@media (max-width:320px) {
.hidden-320 {
	display: none
}
}


@media (max-width:767px) {
.ver-inline-menu>li.active:after {
	display: none
}
.list-separated>div {
	margin-bottom: 20px
}
}



@media only screen and (min-width:768px) {
.simplelineicons-demo .item-box {
	width: 33.333%
}
}


@media (min-width:768px) {
.glyphicons-demo ul li {
	width: 12.5%
}
}



@media (max-width:768px) {
.input-large {
	width: 250px!important
}
.input-xlarge {
	width: 300px!important
}
}


@media (max-width:768px) {
.input-lg {
	width: 250px!important
}
.input-xlg {
	width: 300px!important
}
}
.input-circle {
	border-radius: 25px!important
}
.input-circle-right {
	border-radius: 0 25px 25px 0!important
}
.input-circle-left {
	border-radius: 25px 0 0 25px!important
}
.input-circle-bottom {
	border-radius: 0 0 25px 25px!important
}
.input-circle-top {
	border-radius: 25px 25px 0 0!important
}
.mt-checkbox, .mt-radio {
	display: inline-block;
	position: relative;
	padding-left: 20px;
	margin-bottom: 0px;
	cursor: pointer;
	font-size: 12px;
	webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}
.mt-radio-inline label { padding-bottom: 0px; padding-top: 0px;}
.mt-checkbox.mt-checkbox-disabled, .mt-checkbox.mt-radio-disabled, .mt-radio.mt-checkbox-disabled, .mt-radio.mt-radio-disabled {
	opacity: .8;
	filter: alpha(opacity=80);
	cursor: not-allowed
}
.mt-checkbox>input, .mt-radio>input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	filter: alpha(opacity=0)
}
.mt-checkbox>span, .mt-radio>span {
	border: 1px solid transparent;
	position: absolute;
	top: 1px;
	left: 0;
	height: 18px;
	width: 18px;
	background: #E6E6E6
}
.mt-checkbox>span:after, .mt-radio>span:after {
	content: '';
	position: absolute;
	display: none
}
.input-icon>i, .mt-checkbox-list .mt-checkbox, .mt-checkbox-list .mt-radio, .mt-checkbox>input:checked~span:after, .mt-radio-list .mt-checkbox, .mt-radio-list .mt-radio, .mt-radio>input:checked~span:after {
	display: block
}
.mt-checkbox:hover>input:not([disabled])~span, .mt-checkbox>input:focus~span, .mt-radio:hover>input:not([disabled])~span, .mt-radio>input:focus~span {
	background: #d9d9d9;
	webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}
.mt-checkbox:hover>input:not([disabled]):checked~span, .mt-checkbox>input:checked~span, .mt-radio:hover>input:not([disabled]):checked~span, .mt-radio>input:checked~span {
	webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	background: #d9d9d9
}
.icon-btn, .icon-btn:hover {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease
}
.mt-checkbox>input:disabled~span, .mt-radio>input:disabled~span {
	opacity: .6;
	filter: alpha(opacity=60);
	pointer-events: none
}
.icon-btn, .ie8 .icon-btn:hover {
	filter: none
}
.mt-checkbox.mt-checkbox-outline:hover>input:not([disabled]):checked~span, .mt-checkbox.mt-checkbox-outline:hover>input:not([disabled])~span, .mt-checkbox.mt-checkbox-outline>input:checked~span, .mt-checkbox.mt-checkbox-outline>input:focus~span, .mt-checkbox.mt-checkbox-outline>span, .mt-checkbox.mt-radio-outline:hover>input:not([disabled]):checked~span, .mt-checkbox.mt-radio-outline:hover>input:not([disabled])~span, .mt-checkbox.mt-radio-outline>input:checked~span, .mt-checkbox.mt-radio-outline>input:focus~span, .mt-checkbox.mt-radio-outline>span, .mt-radio.mt-checkbox-outline:hover>input:not([disabled]):checked~span, .mt-radio.mt-checkbox-outline:hover>input:not([disabled])~span, .mt-radio.mt-checkbox-outline>input:checked~span, .mt-radio.mt-checkbox-outline>input:focus~span, .mt-radio.mt-checkbox-outline>span, .mt-radio.mt-radio-outline:hover>input:not([disabled]):checked~span, .mt-radio.mt-radio-outline:hover>input:not([disabled])~span, .mt-radio.mt-radio-outline>input:checked~span, .mt-radio.mt-radio-outline>input:focus~span, .mt-radio.mt-radio-outline>span {
	border: 1px solid #d9d9d9;
	background: 0 0
}
.mt-radio>span, .timeline .timeline-badge-userpic img {
	-webkit-border-radius: 50%!important;
	-moz-border-radius: 50%!important
}
.mt-radio>span {
	-ms-border-radius: 50%!important;
	-o-border-radius: 50%!important;
	border-radius: 50%!important
}
.mt-radio>span:after {
	left: 5px;
	top: 5px;
	height: 6px;
	width: 6px;
	border-radius: 100%!important;
	background: #888
}
.mt-radio>input:disabled~span:after {
	background: #888
}
.mt-checkbox>span:after {
	left: 6px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid #888;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg)
}
.mt-checkbox>input:disabled~span:after {
	border-color: #888
}
.form-inline .mt-checkbox {
	margin-left: 15px;
	margin-right: 15px
}
.mt-checkbox-list, .mt-radio-list {
	padding: 10px 0
}
.form-horizontal .form-group .mt-checkbox-list, .form-horizontal .form-group .mt-radio-list {
	padding-top: 0
}
.mt-checkbox-inline, .mt-radio-inline {
	padding: 10px 0
}
.form-horizontal .form-group .mt-checkbox-inline, .form-horizontal .form-group .mt-radio-inline {
	padding-top: 8px
}
.mt-checkbox-inline .mt-checkbox, .mt-checkbox-inline .mt-radio, .mt-radio-inline .mt-checkbox, .mt-radio-inline .mt-radio {
	display: inline-block;
	margin-right: 8px
}
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }
.mt-checkbox-inline .mt-checkbox:last-child, .mt-checkbox-inline .mt-radio:last-child, .mt-radio-inline .mt-checkbox:last-child, .mt-radio-inline .mt-radio:last-child {
	margin-right: 0
}
.icon-btn {
	height: 60px;
	min-width: 80px;
	margin: 5px 5px 0 0;
	border: 1px solid #ddd;
	padding: 12px 0 0;
	background-color: #fafafa;
	background-image: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: inline-block;
	color: #646464;
	text-shadow: none;
	text-align: center;
	cursor: pointer;
	position: relative;
	transition: all .3s ease
}
.loading-message, .page-loading {
	min-width: 125px;
	vertical-align: middle
}
.icon-btn:hover, .icon-btn:hover>.badge {
	-webkit-box-shadow: none;
	-moz-box-shadow: none
}
.modal.draggable-modal .modal-header, .portlet-sortable:not(.portlet-fullscreen)>.portlet-title {
	cursor: move
}
.icon-btn:hover {
	text-decoration: none;
	border-color: #999;
	color: #444;
	text-shadow: 0 1px 0 #fff;
	transition: all .3s ease;
	box-shadow: none
}
.icon-btn:hover>.badge {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	box-shadow: none
}
.icon-btn>div {
	margin-top: 5px;
	margin-bottom: 20px;
	color: #3f444a;
	font-size: 12px;
	font-weight: 300
}
.icon-btn>.badge {
	position: absolute;
	font-size: 11px;
	font-weight: 300;
	top: -5px;
	right: -5px;
	padding: 3px 6px;
	color: #fff;
	text-shadow: none;
	border-width: 0;
	border-style: solid;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}
.input-group .input-icon>.form-control, .tabs-left.nav-tabs>li>a:focus, .tabs-left.nav-tabs>li>a:hover {
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-ms-border-radius: 4px 0 0 4px;
	-o-border-radius: 4px 0 0 4px
}
.icon-btn>i {
	font-size: 18px
}
.input-icon {
	position: relative;
	left: 0
}
.input-icon>.form-control {
	padding-left: 33px
}
.input-group .input-icon>.form-control {
	border-radius: 4px 0 0 4px
}
.input-icon>i {
	color: #ccc;
	position: absolute;
	margin: 11px 2px 4px 10px;
	z-index: 3;
	width: 16px;
	font-size: 16px;
	text-align: center;
	left: 0
}
.modal .input-icon>i {
	z-index: 10055
}
.has-success .input-icon>i {
	color: #36c6d3
}
.has-warning .input-icon>i {
	color: #F1C40F
}
.has-info .input-icon>i {
	color: #659be0
}
.has-error .input-icon>i {
	color: #ed6b75
}
.input-icon.right {
	left: auto;
	right: 0
}
.input-icon.right>.form-control {
	padding-right: 33px;
	padding-left: 12px
}
.input-group .input-icon.right>.form-control {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-ms-border-radius: 0 4px 4px 0;
	-o-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0
}
.input-icon.right>i {
	left: auto;
	right: 8px;
	float: right
}
.input-icon.input-icon-lg>i {
	margin-top: 16px
}
.input-icon.input-icon-sm>i {
	margin-top: 8px;
	font-size: 13px
}
.label {
	text-shadow: none!important;
	font-size: 14px;
	font-weight: 300;
	padding: 3px 6px;
	color: #fff
}
.label.label-sm {
	font-size: 13px;
	padding: 2px 5px
}
h1 .label, h2 .label, h3 .label, h4 .label, h5 .label, h6 .label {
	font-size: 75%
}
.label-default[href]:focus, .label-default[href]:hover {
	background-color: #9ca8bb
}
.label-primary {
	background-color: #337ab7
}
.label-primary[href]:focus, .label-primary[href]:hover {
	background-color: #286090
}
.label-success {
	background-color: #36c6d3
}
.label-success[href]:focus, .label-success[href]:hover {
	background-color: #27a4b0
}
.label-info {
	background-color: #659be0
}
.label-info[href]:focus, .label-info[href]:hover {
	background-color: #3a80d7
}
.label-warning {
	background-color: #F1C40F
}
.label-warning[href]:focus, .label-warning[href]:hover {
	background-color: #c29d0b
}
.label-danger {
	background-color: #ed6b75
}
.label-danger[href]:focus, .label-danger[href]:hover {
	background-color: #e73d4a
}
.label.label-icon {
	padding: 4px 0 4px 4px;
	margin-right: 2px;
	text-align: center!important
}
.label.label-icon>i {
	font-size: 12px;
	text-align: center!important
}
.note p, .page-loading, .panel .panel-body {
	font-size: 13px
}
.ie8 .label.label-icon, .ie9 .label.label-icon {
	padding: 3px 0 3px 3px
}
.text-default {
	color: #bac3d0
}
.text-primary {
	color: #337ab7
}
.text-success {
	color: #36c6d3
}
.text-info {
	color: #659be0
}
.text-warning {
	color: #F1C40F
}
.text-danger {
	color: #ed6b75
}
.list-group>li:first-child {
	border-radius-topleft: 4px;
	border-radius-topright: 4px
}
.list-group>li:last-child {
	border-radius-bottomleft: 4px;
	border-radius-bottomright: 4px
}
.list-group .list-group-item-success {
	color: #27a4b0;
	background-color: #abe7ed
}
.list-group a.list-group-item-success, .list-group button.list-group-item-success {
	color: #27a4b0
}
.list-group a.list-group-item-success .list-group-item-heading, .list-group button.list-group-item-success .list-group-item-heading {
	color: inherit
}
.list-group a.list-group-item-success:focus, .list-group a.list-group-item-success:hover, .list-group button.list-group-item-success:focus, .list-group button.list-group-item-success:hover {
	color: #27a4b0;
	background-color: #96e1e8
}
.list-group a.list-group-item-success.active, .list-group a.list-group-item-success.active:focus, .list-group a.list-group-item-success.active:hover, .list-group button.list-group-item-success.active, .list-group button.list-group-item-success.active:focus, .list-group button.list-group-item-success.active:hover {
	color: #fff;
	background-color: #27a4b0;
	border-color: #27a4b0
}
.list-group .list-group-item-info {
	color: #327ad5;
	background-color: #e0ebf9
}
.list-group a.list-group-item-info, .list-group button.list-group-item-info {
	color: #327ad5
}
.list-group a.list-group-item-info .list-group-item-heading, .list-group button.list-group-item-info .list-group-item-heading {
	color: inherit
}
.list-group a.list-group-item-info:focus, .list-group a.list-group-item-info:hover, .list-group button.list-group-item-info:focus, .list-group button.list-group-item-info:hover {
	color: #327ad5;
	background-color: #caddf4
}
.list-group a.list-group-item-info.active, .list-group a.list-group-item-info.active:focus, .list-group a.list-group-item-info.active:hover, .list-group button.list-group-item-info.active, .list-group button.list-group-item-info.active:focus, .list-group button.list-group-item-info.active:hover {
	color: #fff;
	background-color: #327ad5;
	border-color: #327ad5
}
.list-group .list-group-item-warning {
	color: #c29d0b;
	background-color: #f9e491
}
.list-group a.list-group-item-warning, .list-group button.list-group-item-warning {
	color: #c29d0b
}
.list-group a.list-group-item-warning .list-group-item-heading, .list-group button.list-group-item-warning .list-group-item-heading {
	color: inherit
}
.list-group a.list-group-item-warning:focus, .list-group a.list-group-item-warning:hover, .list-group button.list-group-item-warning:focus, .list-group button.list-group-item-warning:hover {
	color: #c29d0b;
	background-color: #f7de79
}
.list-group a.list-group-item-warning.active, .list-group a.list-group-item-warning.active:focus, .list-group a.list-group-item-warning.active:hover, .list-group button.list-group-item-warning.active, .list-group button.list-group-item-warning.active:focus, .list-group button.list-group-item-warning.active:hover {
	color: #fff;
	background-color: #c29d0b;
	border-color: #c29d0b
}
.list-group .list-group-item-danger {
	color: #e73d4a;
	background-color: #fbe1e3
}
.list-group a.list-group-item-danger, .list-group button.list-group-item-danger {
	color: #e73d4a
}
.list-group a.list-group-item-danger .list-group-item-heading, .list-group button.list-group-item-danger .list-group-item-heading {
	color: inherit
}
.list-group a.list-group-item-danger:focus, .list-group a.list-group-item-danger:hover, .list-group button.list-group-item-danger:focus, .list-group button.list-group-item-danger:hover {
	color: #e73d4a;
	background-color: #f8cace
}
.list-group a.list-group-item-danger.active, .list-group a.list-group-item-danger.active:focus, .list-group a.list-group-item-danger.active:hover, .list-group button.list-group-item-danger.active, .list-group button.list-group-item-danger.active:focus, .list-group button.list-group-item-danger.active:hover {
	color: #fff;
	background-color: #e73d4a;
	border-color: #e73d4a
}
.loading-message {
	display: inline-block;
	padding: 10px;
	margin: 0 auto;
	color: #000!important;
	font-size: 13px;
	font-weight: 400;
	text-align: center
}
.loading-message.loading-message-boxed {
	border: 1px solid #ddd;
	background-color: #eee;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 8px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 8px rgba(0,0,0,.1);
	box-shadow: 0 1px 8px rgba(0,0,0,.1)
}
.loading-message>span {
	line-height: 20px;
	vertical-align: middle
}
.page-loading {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -60px;
	margin-top: -30px;
	padding: 7px;
	text-align: center;
	color: #333;
	border: 1px solid #ddd;
	background-color: #eee;
	-webkit-box-shadow: 0 1px 8px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 8px rgba(0,0,0,.1);
	box-shadow: 0 1px 8px rgba(0,0,0,.1)
}
.block-spinner-bar>div, .page-spinner-bar>div {
	background: #eee;
	border-radius: 100%!important
}
.page-loading>span {
	line-height: 20px;
	vertical-align: middle
}
.page-spinner-bar {
	position: fixed;
	z-index: 10051;
	width: 100px;
	top: 40%;
	left: 50%;
	margin-left: -55px;
	text-align: center
}
.page-spinner-bar>div {
	margin: 0 5px;
	width: 18px;
	height: 18px;
	display: inline-block;
	-webkit-animation: bounceDelay 1.4s infinite ease-in-out;
	animation: bounceDelay 1.4s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
.nav-tabs { border-bottom: 0px;
display: block;
margin: auto;
text-align: center;}
.portlet.light {

}
.portlet.light.bordered {
	border: 1px solid #e7ecf1!important
}
.portlet.light.bordered>.portlet-title {
	border-bottom: 1px solid #eef1f5 ;
	background: #e9e9e9 ;
}
.portlet.light.bg-inverse {
	background: #f1f4f7
}
.portlet.light>.portlet-title {
border-radius: 2px 2px 0 0;
border-bottom: 1px solid #ddd;
width: 100%;
display: block;
margin: aut}
.portlet.light>.portlet-title>.caption {
	color: #666;
	padding: 10px 0
}
.portlet.light>.portlet-title>.caption>.caption-subject {
	font-size: 16px
}
.portlet.light>.portlet-title>.caption>i {
	color: #777;
	font-size: 15px;
	font-weight: 300;
	margin-top: 3px
}
.portlet.solid.blue-chambray>.portlet-title>.caption, .portlet.solid.blue-dark>.portlet-title>.caption, .portlet.solid.blue-ebonyclay>.portlet-title>.caption, .portlet.solid.blue-hoki>.portlet-title>.caption, .portlet.solid.blue-madison>.portlet-title>.caption, .portlet.solid.blue-oleo>.portlet-title>.caption, .portlet.solid.blue-sharp>.portlet-title>.caption, .portlet.solid.blue-soft>.portlet-title>.caption, .portlet.solid.blue-steel>.portlet-title>.caption, .portlet.solid.blue>.portlet-title>.caption, .portlet.solid.dark>.portlet-title>.caption, .portlet.solid.default>.portlet-title>.caption, .portlet.solid.green-dark>.portlet-title>.caption, .portlet.solid.green-haze>.portlet-title>.caption, .portlet.solid.green-jungle>.portlet-title>.caption, .portlet.solid.green-meadow>.portlet-title>.caption, .portlet.solid.green-seagreen>.portlet-title>.caption, .portlet.solid.green-sharp>.portlet-title>.caption, .portlet.solid.green-soft>.portlet-title>.caption, .portlet.solid.green-steel>.portlet-title>.caption, .portlet.solid.green-turquoise>.portlet-title>.caption, .portlet.solid.green>.portlet-title>.caption, .portlet.solid.grey-cararra>.portlet-title>.caption, .portlet.solid.grey-cascade>.portlet-title>.caption, .portlet.solid.grey-gallery>.portlet-title>.caption, .portlet.solid.grey-mint>.portlet-title>.caption, .portlet.solid.grey-salt>.portlet-title>.caption, .portlet.solid.grey-silver>.portlet-title>.caption, .portlet.solid.grey-steel>.portlet-title>.caption, .portlet.solid.grey>.portlet-title>.caption, .portlet.solid.purple-intense>.portlet-title>.caption, .portlet.solid.purple-medium>.portlet-title>.caption, .portlet.solid.purple-plum>.portlet-title>.caption, .portlet.solid.purple-seance>.portlet-title>.caption, .portlet.solid.purple-sharp>.portlet-title>.caption, .portlet.solid.purple-soft>.portlet-title>.caption, .portlet.solid.purple-studio>.portlet-title>.caption, .portlet.solid.purple-wisteria>.portlet-title>.caption, .portlet.solid.purple>.portlet-title>.caption, .portlet.solid.red-flamingo>.portlet-title>.caption, .portlet.solid.red-haze>.portlet-title>.caption, .portlet.solid.red-intense>.portlet-title>.caption, .portlet.solid.red-mint>.portlet-title>.caption, .portlet.solid.red-pink>.portlet-title>.caption, .portlet.solid.red-soft>.portlet-title>.caption, .portlet.solid.red-sunglo>.portlet-title>.caption, .portlet.solid.red-thunderbird>.portlet-title>.caption, .portlet.solid.red>.portlet-title>.caption, .portlet.solid.white>.portlet-title>.caption, .portlet.solid.yellow-casablanca>.portlet-title>.caption, .portlet.solid.yellow-crusta>.portlet-title>.caption, .portlet.solid.yellow-gold>.portlet-title>.caption, .portlet.solid.yellow-haze>.portlet-title>.caption, .portlet.solid.yellow-lemon>.portlet-title>.caption, .portlet.solid.yellow-mint>.portlet-title>.caption, .portlet.solid.yellow-saffron>.portlet-title>.caption, .portlet.solid.yellow-soft>.portlet-title>.caption, .portlet.solid.yellow>.portlet-title>.caption {
	font-weight: 400
}
.portlet.light>.portlet-title>.caption.caption-md>.caption-subject {
	font-size: 15px
}
.portlet.light>.portlet-title>.caption.caption-md>i {
	font-size: 14px
}
.portlet.light>.portlet-title>.actions {
	padding: 6px 0 14px
}
.portlet.light>.portlet-title>.actions .btn-default {
	color: #666
}
.portlet.light>.portlet-title>.actions .btn-icon-only {
	height: 27px;
	width: 27px
}
.portlet.light>.portlet-title>.actions .dropdown-menu li>a {
	color: #555
}
.portlet.light>.portlet-title>.inputs {
	float: right;
	display: inline-block;
	padding: 4px 0
}
.portlet.light>.portlet-title>.inputs>.portlet-input .input-icon>i {
	font-size: 14px;
	margin-top: 9px
}
.portlet.light>.portlet-title>.inputs>.portlet-input .input-icon>.form-control {
	height: 30px;
	padding: 2px 26px 3px 10px;
	font-size: 13px
}
.portlet.light>.portlet-title>.inputs>.portlet-input>.form-control {
	height: 30px;
	padding: 3px 10px;
	font-size: 13px
}
.portlet.light>.portlet-title>.pagination {
	padding: 2px 0 13px
}
.portlet.light>.portlet-title>.tools {
	padding: 10px 0 13px;
	margin-top: 2px
}
.portlet.light>.portlet-title>.nav-tabs>li {
	margin: 0;
	display: inline-block ;
}
.portlet.light>.portlet-title>.nav-tabs>li>a {
	margin: 0 10px 0 0;
	color: #666 ;
	padding: 10px 20px ;
	border: 1px solid #ddd ;
	border-bottom: none ;
}
.portlet.light>.portlet-title>.nav-tabs>li.active>a, .portlet.light>.portlet-title>.nav-tabs>li:hover>a {
	background: #005c27;
	color: #fff ;
	display: block ;
	border:1px solid #005c27 ;
	border-bottom: none ;
	list-style: none ; 
	text-decoration: none ;	
	}
.portlet.light.form-fit {
	padding: 0
}
.portlet.light.form-fit>.portlet-title {
	padding: 17px 20px 10px;
	margin-bottom: 0
}
.portlet.light .portlet-body {
	padding-top: 8px
}
.portlet.light.portlet-fullscreen>.portlet-body {
	padding: 8px 0
}
.portlet.light.portlet-fit {
	padding: 0
}
.portlet.light.portlet-fit>.portlet-title {
	padding: 15px 20px 10px
}
.portlet.light.portlet-fit>.portlet-body {
	padding: 10px 20px 20px
}
.portlet.light.portlet-fit.portlet-form>.portlet-body {
	padding: 0
}
.portlet.light.portlet-fit.portlet-form>.portlet-body .form-actions {
	background: 0 0
}
.portlet.box.white>.portlet-title, .portlet.white, .portlet>.portlet-body.white {
	background-color: #fff
}
.portlet.light.portlet-datatable.portlet-fit>.portlet-body {
	padding-top: 10px;
	padding-bottom: 25px
}
.tab-pane>p:last-child {
	margin-bottom: 0
}
.tabs-reversed>li {
	float: right;
	margin-right: 0
}
.tabs-reversed>li>a {
	margin-right: 0
}
.portlet-sortable-placeholder {
	border: 2px dashed #eee;
	margin-bottom: 25px
}
.portlet-sortable-empty {
	box-shadow: none!important;
	height: 45px
}
.portlet-collapsed {
	display: none
}

@media (max-width:991px) {
.portlet-collapsed-on-mobile {
	display: none
}
.no_pad { padding: 0px; margin: 0px;}
.select { right: 0px;}
}


@media (max-width:767px) {
.text-stat {
	margin-top: 20px
}
}

@media only screen and (max-width:768px) {

}
.table-toolbar {
	margin-bottom: 20px
}
.table-toolbar:after, .table-toolbar:before {
	content: " ";
	display: table
}
.table-toolbar:after {
	clear: both
}
.table.table-full-width {
	width: 100%!important
}
.table .btn {
	margin-top: 0;
	margin-left: 0;
	margin-right: 5px
}
.table thead tr th {
	font-size: 14px;
	font-weight: 600
}
.table-advance {
	margin-bottom: 10px!important
}
.table-advance thead {
	color: #3f444a
}
.table-advance thead tr th {
	background-color: #f1f4f7;
	font-size: 14px;
	font-weight: 400;
	color: #3f444a
}
.table-advance div.danger, .table-advance div.important, .table-advance div.info, .table-advance div.success, .table-advance div.warning {
	position: absolute;
	margin-top: -5px;
	float: left;
	width: 2px;
	height: 30px;
	margin-right: 20px!important
}
.table-advance tr td {
	border-left-width: 0
}
.table-advance tr td:first-child {
	border-left-width: 2px!important
}
.table-advance tr td.highlight:first-child a {
	margin-left: 15px
}
.table-advance td.highlight div.primary {
	border-left: 2px solid #337ab7
}
.table-advance td.highlight div.success {
	border-left: 2px solid #36c6d3
}
.table-advance td.highlight div.info {
	border-left: 2px solid #659be0
}
.table-advance td.highlight div.warning {
	border-left: 2px solid #F1C40F
}
.table-advance td.highlight div.danger {
	border-left: 2px solid #ed6b75
}

@media (max-width:767px) {
.table-advance tr>td.highlight:first-child a {
	margin-left: 8px
}
}
.table.table-light {
	border: 0!important
}
.table.table-light>thead>tr:hover>th {
	background: 0 0
}
.table.table-light>thead>tr.uppercase {
	text-transform: uppercase
}
.table.table-light>thead>tr>th {
	font-weight: 600;
	font-size: 13px;
	color: #93a2a9;
	border: 0;
	border-bottom: 1px solid #F2F5F8
}
.table.table-light>tbody>tr:last-child>td {
	border: 0
}
.table.table-light>tbody>tr>td {
	border: 0;
	vertical-align: middle ;
	color: #636363;
    font-size: 14px;
	padding:20px 0 ;
}
.table.table-light>tbody>tr>td p { color: #9b9b9b ; font-size: 12px; padding:0 ; margin:0 ;}
.table.table-light>tbody>tr>td.fit {
	width: 1px;
	padding-right: 3px
}
.table.table-light>tbody>tr>td .user-pic {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%
}
.table.table-light.table-hover>tbody>tr:hover>td, .table.table-light.table-hover>tbody>tr>td:hover, .table.table-light.table-hover>tbody>tr>th:hover {
	background: #f9fafb!important
}
.table-hover>tbody>tr:hover, .table-hover>tbody>tr:hover>td {
	background: #f3f4f6!important
}
.nav-pills, .nav-tabs {
}
.nav-pills>li>a, .nav-tabs>li>a {
	font-size: 14px;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0
}
.nav-pills>li>a>.badge, .nav-tabs>li>a>.badge {
	margin-top: -6px
}
.nav-pills>li .dropdown-menu:after, .nav-pills>li .dropdown-menu:before, .nav-tabs>li .dropdown-menu:after, .nav-tabs>li .dropdown-menu:before {
	display: none
}
.nav-pills.nav-pills-sm>li>a, .nav-pills.nav-tabs-sm>li>a, .nav-tabs.nav-pills-sm>li>a, .nav-tabs.nav-tabs-sm>li>a {
	font-size: 13px
}
.nav-pills .dropdown.open>.dropdown-toggle, .nav-tabs .dropdown.open>.dropdown-toggle {
	background: #eee;
	color: #0d638f;
	border-color: transparent
}
