/*@font-face {
	font-family: 'Conv_Poppins-Regular';
	src: url('../fonts/Poppins-Regular.eot');
	src: local(''), url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.ttf') format('truetype'), url('../fonts/Poppins-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body { font-family: 'Conv_Poppins-Regular';
	src: url('../fonts/Poppins-Regular.eot');
  background-color: #fff;
  position: relative;
  width: 100%;}*/
  
/* CSS Document */
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, input[type=text], button, textare, p, th, td, 
{ margin:0px; padding:0px; /*border:0;*/}

table { width:100%;}
table, td { border-collapse:collapse; border:none;}

img, a;img { border:none; outline:none;}
ul { list-style:none;}


@media only screen and (min-width: 1008px) {
  .materialSelect .select {
    -webkit-transition: background 0.2s ease, border 0.2s ease, top 0.2s ease, height 0.2s ease, -webkit-box-shadow 0.2s ease;
    transition: background 0.2s ease, border 0.2s ease, top 0.2s ease, height 0.2s ease, -webkit-box-shadow 0.2s ease;
    transition: background 0.2s ease, border 0.2s ease, top 0.2s ease, height 0.2s ease, box-shadow 0.2s ease;
    transition: background 0.2s ease, border 0.2s ease, top 0.2s ease, height 0.2s ease, box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
  }
  .materialSelect .select li {
    -webkit-transition: height 0.2s linear, opacity 0.2s ease, margin 0.2s linear;
    transition: height 0.2s linear, opacity 0.2s ease, margin 0.2s linear;
  }
}



