@font-face {
	font-family: 'Conv_Poppins-Regular';
	src: url('../fonts/Poppins-Regular.eot');
	src: local(''), url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.ttf') format('truetype'), url('../fonts/Poppins-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_POPPINS-LIGHT_0';
	src: url('../fonts/POPPINS-LIGHT_0.eot');
	src: local(''), url('../fonts/POPPINS-LIGHT_0.woff') format('woff'), url('../fonts/POPPINS-LIGHT_0.ttf') format('truetype'), url('../fonts/POPPINS-LIGHT_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body { font-family: 'Conv_Poppins-Regular'; 
	src: url('../fonts/Poppins-Regular.eot')
  	background-color: #fff;
  	position: relative;
  	width: 100%;}
  
/* CSS Document */
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, input[type=text], button, textare, p, th, td, 
{ margin:0px; padding:0px; /*border:0;*/}

table { width:100%;}
table, td { border-collapse:collapse; border:none;}

img, a;img { border:none; outline:none;}
ul { list-style:none;}

/*--HEADER PART START--*/

.header_part { width:100%; float:left; margin:0px; padding:0px;}
.header_top { width:100%; float:left; margin:0px; padding:0px; background-color:#000; z-index:999; font-family: 'Conv_Poppins-Regular';  border-bottom:1px solid rgb(0, 111, 219, 0.35);}
.header_down { width:100%; float:left; margin:0px; padding:0px; overflow:hidden; display:block;}
.contxt { width:100%; float:left; margin:0px; padding:15px 0px; color:#ebebeb; font-size:12px;}
.emiltxt { width:100%; float:right; margin:0px; padding:15px 0px; color:#ebebeb; font-size:12px; text-align:right; }
.contxt img { padding-right:10px;}
.emiltxt img { padding-right:10px;}
/*--HEADER PART START--*/

/*-- Banner Section Start--*/
.bannerpart { width:100%; float:left; margin:0px; padding:0px; background-image:url(../images/banner-1.png); background-repeat:no-repeat; background-position:center; background-size:cover; position: relative;}
.search-filter { margin:50px 0px 170px 0px; float:left; position:relative; width:100%; padding:0px;}
.bannerheading { float:left; margin:0px; padding:0px; width:100%; text-align:center; font-family: 'Conv_Poppins-Regular';} 
.banner-h2 { width:100%; float:left; font-family: 'Conv_Poppins-Regular'; color: rgb(255, 255, 255);  text-transform: uppercase;  text-align: center;  text-shadow: 1px 1.732px 3.84px rgba(72, 70, 70, 0.157); font-size:40px; margin-top:200px;}
.banner-h4 { display:inline-block;  font-size:26px; text-align:center; color: rgb(241, 241, 241); text-align: center;  text-shadow: 0.5px 0.866px 1.9px rgba(90, 90, 90, 0.294);}

.search-filter ul { float:left; margin:0px; padding:0px; width:100%; list-style-type:none;}
.search-filter ul li { float:left; padding:0px 15px; width:23%;}
.search-filter ul li .bootstrap-select { width:100% !important; float:left;}
.search-filter ul li .bootstrap-select .dropdown-menu ul { float:left; width:100%;}
.search-filter ul li .bootstrap-select .dropdown-menu ul li { float:left; width:100%; padding:0px;}
.search-filter ul li .btn-default { background-color: transparent; color:#fff; border-color: #fff;  border-width: 2px;}
.search-filter ul li:last-child { width:8%; float: left; padding:0px 10px;}
.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {color: #fff !important;}
.search-filter ul li .caret {
	display: inline-block;
	width: 0;
	height: 0;
	color: #f6bb19;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 6px dashed;
	border-top: 4px solid\9;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}

.snd-valu { margin:0px; background-color:#f6bb19; color:#fff; font-size:16px; padding:8px 15px; border:1px solid #d69f07;}
/*-- Banner Section End--*/

/*-- why us start --*/

/*-- why us start --*/

.why_us_sec { width:100%; float:left; margin:0px; padding:0px; overflow:hidden; background-image:url(../images/whys-us-bg.jpg); background-position:center; background-repeat:no-repeat; background-size:cover; font-family: 'Conv_Poppins-Regular';}
.h3-heading { text-align:center; font-size: 36px; font-family: 'Conv_Poppins-Regular'; color: rgb(77, 79, 84);  text-transform: uppercase; margin:50px 0px 40px 0px; position:relative;}
.h3-heading:after { position: relative; content:""; width:100%; float:left; margin:10px 0; text-align:center; background-image:url(../images/heading-after.png); background-repeat:no-repeat; background-position:center;  height:5px; right:0px; left:0px;}
.why-me {width:100%; float:left; margin:0px 0px 90px 0px; padding:15px; overflow:hidden; text-align:center; font-family: 'Conv_Poppins-Regular';}
.whyme-infograph {width:100%; float:left; margin:0px; padding:15px; overflow:hidden; text-align:center; font-family: 'Conv_Poppins-Regular';}
.why-me-dtl {width:100%; float:left; margin:0px; padding:0px; overflow:hidden; text-align:center;}
.why-me-dtl h4 { font-size: 26px; color: rgb(58, 58, 58); text-align: center; width:100%; margin:15px 0px;}
.h3-subheading { width:100%; display:inline-block; text-align:center; margin:0px 0px 25px 0px; padding:0px; color: rgb(129, 129, 129); font-size:14px; font-family: 'Conv_POPPINS-LIGHT_0';}
.h3-subheading p { width:50%; text-align:center; display:inline-block;}

.why-me-dtl p {font-size: 14px; font-family: 'Conv_POPPINS-LIGHT_0';  color: rgb(58, 58, 58); line-height: 1.875;  text-align: center;}

/*-- why us End --*/

/*-- How it Wrok Start --*/

.howit_wrok_sec { float:left; margin:0px; padding:0px; width:100%; background-color:#fff; font-family: 'Conv_Poppins-Regular';}
button.prev { left: -45px; position:absolute; top:120px; border:none; background: transparent;}
button.next {right: -45px; position:absolute; top:120px; border:none; background: transparent}

.howit_wrok_sec .ui-widget-content, .ui-widget-header{ background-color:transparent !important; border:none !important; color:#333 !important;}
.howit_wrok:before { position: relative; content:""; width:100%; float:left; margin:10px 0; text-align:center; background-image:url(../images/howit-work-banner.png); background-repeat:no-repeat; background-position:center;  height:5px; right:0px; left:0px;}
.howit_wrok img { width:100%;} 
.howit_wrok { float:left; margin:0px; padding:0px; width:100%;}
.howit_wrok ul { float:left; margin:0px 0px 100px 0px !important; padding:0px; width:100%;}
.howit_wrok ul li { width:20%; margin:0px !important; border-radius:0px !important; text-align:center;}
.our-work .tab-heading { color:#62a0a1; font-size: 22px; font-family: 'Conv_Poppins-Regular'; text-align:center; color: rgb(98, 160, 161);  font-variant: small-caps; text-transform:uppercase; width:100%; float:left; margin:30px 0px;}
.our-work { width:100%; float:left; margin:20px 0px; padding:0px;}
.our-work p {font-size: 13px; color: rgb(116, 116, 116); width:100%; float:left; margin:0px;font-family: 'Conv_POPPINS-LIGHT_0';}
.howit_wrok ul li a { width:100%; background:transparent !important; float:left; border-radius:0px; border:none; margin:0px ; font-size: 18px; color: rgb(255, 255, 255) !important; padding:25px!important;}
.tab1 { background-color:#4ca2f9 !important; float:left; border: none !important; margin:0px !important;}
.tab2 { background-color:#00bfa5 !important; float:left;}
.tab3 { background-color:#ff9e00 !important; float:left;}
.tab4 { background-color:#9ccf31 !important; float:left;}
.tab5 { background-color:#e2672b !important; float:left;}
.howit_wrok_sec .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border:none !important;}
.howit_wrok_sec .ui-tabs .ui-tabs-nav li.ui-tabs-active { padding:0px !important;}


/*-- How it Wrok End --*/

/*-- Pricing list Start --*/
.pricing-sec { width:100%; float:left; margin:0px; padding:0px; overflow:hidden; background-image:url(../images/pricing-bg.png); background-position:center; background-repeat:no-repeat; background-size:cover; font-family: 'Conv_Poppins-Regular';}
.pricing-sec .h3-heading { text-align:center; font-size: 36px; font-family: 'Conv_Poppins-Regular'; color: rgb(255, 255, 255);  text-transform: uppercase; margin:50px 0px 40px 0px; position:relative;}
.pricing-sec .h3-subheading { width:100%; display:inline-block; text-align:center; margin:0px 0px 25px 0px; padding:0px; color: rgb(255, 255, 255); font-size:14px;}
.our-pricing { width:100%; float:left; margin:0px 0px 100px 0px; padding:0px; overflow:hidden; }
.price-tab { width:100%; float:left; margin:0px; padding:0px; background:#fff; border-radius:5px;}
.pricing-offer-hd {font-size: 22px; color: rgb(82, 87, 112);  text-transform: uppercase;  text-align: center;  z-index: 322; text-align:center; padding:20px 0px; font-weight:bold; float:left; width:100%;}
.pricing-offer-rat { text-align:center; font-size:40px; font-weight:bold; margin:15px 0px;}
.pricing-offer-rat sup { font-weight:500; font-size:22px;}
.pricing-offer-rat-dtl { font-size:14px; padding:25px 15px; text-align:center; display:inline-block; font-family: 'Conv_POPPINS-LIGHT_0';}
.pricing-buy { width:100%; margin:15px 0px 35px 0px; display:inline-block; text-align:center;}
.pricing-buy-btn { width:50% !important; text-align:center; display:inline-block; border:1px solid #f6bb19; background:transparent; padding:7px;}
.mrg-top { margin-top:60px;}
.pricing-buy-btn:hover { background-color:#f6bb19; color:#fff;}
.price-offer { background-color:#f6bb19; color:#fff; width:100%; float:left; overflow:hidden; text-transform:uppercase; padding:10px 0px; text-align:center; font-size:28px;     border-top-left-radius: 5px; border-top-right-radius: 5px;}

.price-packeg-dtl { width:100%; float:left; margin:0px; padding:0px; display:inline-block; text-align:center; font-family: 'Conv_POPPINS-LIGHT_0';}
.price-packeg-dtl h3 { color:#f6bb19; width:100%; text-transform:uppercase; text-align:center;}
.price-packeg-dtl ul { padding:0px; margin:0px; list-style-type:none; display:inline-block; width:80%; text-align:center;}
.price-packeg-dtl ul li {font-size: 14px; color: rgb(255, 255, 255);  text-align: center;  z-index: 351; line-height:30px;}
.price-packeg-dtl ul li:after {content: "\f05a"; position:relative; height:5px; width:5px; font-size:14px; color:#878787; right:0px; font-family: 'FontAwesome'; padding-left:10px;}

/*-- Pricing list End --*/


/*-- premium-partners Start --*/
.premium-partners { width:100%; float:left; margin:0px; padding:0px; overflow:hidden; font-family: 'Conv_Poppins-Regular';}
.owl-carousel.owl-loaded {
	display: block;
	padding: 0px 30px !important;}
.carousel-wrap {  margin:0 auto;  padding: 0 5%;  width: 100%;  position: relative;}

/* fix blank or flashing items on carousel */
.owl-carousel .item {  position: relative;  z-index: 100;   -webkit-backface-visibility: hidden; }

/* end fix */
.owl-nav > div {  margin-top: -26px;  position: absolute;  top: 50%;  color: #cdcbcd;}

.owl-nav i {  font-size: 32px; color:#fff;}

.owl-nav .owl-prev { left: -30px;}

.owl-nav .owl-next { right: -30px;}
.our-partners .carousel-wrap .owl-carousel .item img { margin:10px 0px;}
.our-partners .carousel-wrap .owl-carousel .owl-prev { background-color: rgb(176, 176, 176); padding:10px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
.our-partners .carousel-wrap .owl-carousel .owl-next { background-color: rgb(176, 176, 176); padding:10px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;}

/*-- premium-partners Start --*/

/*-- contact-form start --*/
.contact-form { width:100%; float:left; margin:0px; padding:0px; overflow:hidden; background-image:url(../images/contactus-bg.png); background-position:center; background-repeat:no-repeat; background-size:cover; font-family: 'Conv_Poppins-Regular';}
.our-contactus { width:100%; float:left; margin:0px; padding:0px;}
.our-contactus .h3 {font-size: 28px; color:rgb(246, 187, 25); text-align: left; z-index: 428;}
.our-contactus h4 { font-size:20px; margin:15px 0px; color:#474848;}
.our-contactus span { width:100%; float:left; margin:0px; padding:0px; font-size: 16px;  color: rgb(71, 72, 72); margin: 5px 0px;}
.our-contactus span i { padding-right:20px; padding-bottom:5px;}


.our-contactus .group { 
	position: relative; 
	margin-bottom: 45px; 
}

.our-contactus input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: transparent;
	color: #636363;
	width: 100%;
	border: none; box-shadow: none;
	border-radius: 0;
	border-bottom: 1px solid #f6bb19; 
}
.our-contactus select {
	padding: 4px 10px 3px 5px; font-family: 'Conv_Poppins-Regular';
	-webkit-appearance: none;
	display: block;
	background: transparent;
	color: #636363;
	width: 100%;
	border: none;
	box-shadow: none;
	border-radius: 0;border-bottom: 1px solid #f6bb19; 
	font-size: 14px;
}
.our-contactus input:focus, select:focus { outline: none; }
.mail-info { float:left; margin:0px; padding:0px; width:100%;}
.mail-info img { opacity:0.75;}
/* Label */

.our-contactus label {
	color: #525151; 
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 7px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}


/* active */

.our-contactus input:focus ~ label, input.used ~ label {
	top: -20px;
  -webkit-transform: scale(.75);
          transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #f6bb19;
}

.our-contactus select:focus ~ label, select.used ~ label {
	top: -20px;
  -webkit-transform: scale(.75);
          transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #f6bb19;
}

/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #f6bb19; 
	-webkit-transition: all 0.2s ease; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

.our-contactus input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.our-contactus .highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

.our-contactus input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}

.our-contactus select:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}

/* Animations */

@-webkit-keyframes inputHighlighter {
	from { background: #f6bb19; }
	to 	{ width: 0; background: transparent; }
}

@keyframes inputHighlighter {
	from { background: #f6bb19; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.our-contactus .button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #3160B6;
  cursor: pointer;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.our-contactus .button:focus { outline: 0; }


/* Button modifiers */

.our-contactus .buttonBlue {
  background: #f6bb19;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.our-contactus .buttonBlue:hover { background: #357bd8; }


/* Ripples container */

.our-contactus .ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.our-contactus .ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.our-contactus .ripples.is-active .ripplesCircle {
  -webkit-animation: ripples .4s ease-in;
          animation: ripples .4s ease-in;
}


/* Ripples animation */

@-webkit-keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;} 
	}

.our-contactus ul { list-style-type:none; padding:0px; margin-top:15px 0px 0px 0px; float:left;}
.our-contactus ul li { padding:0px 15px 0px 0px; width:50%; float:left;}
.form-dtl { float:left; margin:30px 0px; padding:0px; width:100%; font-family: 'Conv_POPPINS-LIGHT_0';}
.form-dtl form { float:left; width:100%;}
.our-contactus .form-dtl .form-control:focus {border-color: #f6bb19 !important; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(246,187,25,.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(246,187,25,.6);}
.aform-btn { width:60%; float:left; margin:0px;}
.submit { float:left !important; margin:0px 15px !important; width:42% !important; background:#f6bb19 !important; border:none !important; color:#fff !important; border-radius:0px !important; padding:12px 15px !important;}
.submit input { border: none !important; color:#fff !important;}
.joinus input { border: none !important; color:#fff !important;}
.aform-btn .joinus, .submit span { color:#fff !important; margin:0px; text-transform:uppercase;}
.joinus { float:left !important; margin:0px 15px !important; width:42% !important; border:1px solid #f6bb19 !important; color:#3f3f3f!important; border-radius:0px !important; padding:6px 15px !important;}
.aform-btn .joinus span  { border: none !important; color:#3f3f3f !important;}
/*-- contact-form End--*/

/*-- Footer Start --*/
.salecoms-footer { width:100%; float:left; margin:0px; padding:0px; background-color:rgb(255, 255, 255); overflow:hidden;}
.ft-sec { width:100%; margin:0px; padding:100px 0px; float:left;}
.about-cmpy { width:100%; margin:0px; float:left; padding:0px;}
.about-cmpy ul { float:left; margin:0px; padding:0px; width:100%; list-style-type:none;}
.about-cmpy span { width:100%; float:left; font-size: 15px;  color: rgb(77, 77, 77); margin:15px 0px; line-height: 28px;  text-align: justifyLeft;  z-index: 453;}
.cmpy-links { width:100%; margin:0px; float:left; padding:0px;}
.cmpy-links ul li { color: rgb(77, 77, 77); width:100%;  z-index: 93; font-size:15px; padding:8px 0px;}
.cmpy-links h4 { font-size:22px; padding-left:35px; text-transform:uppercase;}
.cmpy-links ul li a{ color: rgb(77, 77, 77); width:100%;}
.ft-subline { background-color:#e4e4e4; width:100%; float:left; text-align:center; padding:0px; margin:0px;}
.ft-disclaimer { padding:10px 0px; text-align:center; font-size:13px;}



/*-- Footer End --*/


/*-- Button Effect Start --*/
.col {
  display: inline-block;
  vertical-align: top;
}

main {
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  display: inline-block;
  left: 50%;
}
main header {
  color: #fff;
  text-align: center;
  margin: 1em;
}
main header h1 {
  font-size: 1.25em;
  margin: 0.25em;
}
main header a {
  color: #6ab8f7;
  text-decoration: none;
}

.button {
  position: relative;
  font-weight: 100;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
.button.raised {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  }
.button.raised:active {
  background: #0c7dd8;
  box-shadow: 0px 1px 1px #063e6b;
}

span {
  font-weight: 400;
}

input[type="checkbox"].toggle {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
}
input[type="checkbox"].toggle:focus {
  outline: 0;
}

.anim {
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
.anim:before {
  position: relative;
  content: '';
  display: block;
  margin-top: 100%;
}
.anim:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}

.clickable .toggle:checked + .anim {
  -moz-animation: anim-in 0.75s;
  -webkit-animation: anim-in 0.75s;
  animation: anim-in 0.75s;
}
.clickable .toggle:checked + .anim:after {
  -moz-animation: anim-in-pseudo 0.75s;
  -webkit-animation: anim-in-pseudo 0.75s;
  animation: anim-in-pseudo 0.75s;
}
.clickable .toggle:not(:checked) + .anim {
  -moz-animation: anim-out 0.75s;
  -webkit-animation: anim-out 0.75s;
  animation: anim-out 0.75s;
}
.clickable .toggle:not(:checked) + .anim:after {
  -moz-animation: anim-out-pseudo 0.75s;
  -webkit-animation: anim-out-pseudo 0.75s;
  animation: anim-out-pseudo 0.75s;
}

.hoverable:hover > .anim {
  -moz-animation: anim-out 0.75s;
  -webkit-animation: anim-out 0.75s;
  animation: anim-out 0.75s;
}
.hoverable:hover > .anim:after {
  -moz-animation: anim-out-pseudo 0.75s;
  -webkit-animation: anim-out-pseudo 0.75s;
  animation: anim-out-pseudo 0.75s;
}

@-webkit-keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-ms-keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@-moz-keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@-ms-keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@-webkit-keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-ms-keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@-moz-keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@-ms-keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
	

/*-- Button Effect End--*/


/*-- Clouds Effect Start --*/
.cloud-effect { position:absolute; width:100%;}
#clouds{
	padding: 100px 0; background:#transparent;
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
	top:350px;
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;
	top:50px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	right: 250px; top: 100px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 10px; top: 250px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: -150px; top: 220px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
/*-- Clouds Effect End --*/











