/* CSS Document */

.nav-fix .olymp-star-icon.active {fill: 2d5ae3 !important;}

.post-ad { width:100%; margin:0px; padding:0px;}
.post-ad ul { list-style-type:none;}
.post-ad ul li {width:25% !important; float:left;}
.post-ad ul li .nav-item {min-width:25% !important; float:left; background-color:#99FF33 !important; padding:0px 10px !important;}
.post-ad ul li .olymp-status-icon { float:left;}
.post-ad .nav-link {padding: 20px 0px !important; text-align: center;}

.nav-fix {padding: 0px; margin: 0px; float: left; width: 25%;}
.post-ad .nav-link .nav-link svg {margin-right: 10px; width: 18px !important;}

.frnd-sug-tp-br { width:100%; padding:0px; margin:0px; float:left;}
.frnd-sug-tp-br .col-md-6 { padding:0px 15px; float:left; margin:10px 0px; font-weight:500;}
.frnd-sug-tp-br .col-md-6 a { color: #9a9fbf; text-transform:uppercase;}
.frnd-sug-tp-br .col-md-6 a:hover { color:#2d5ae3!important; transition: all 0.3s ease 0s !important;}

.frnd-sug-tb { width:100%; padding:0px; margin:0px; float:left;}
.frnd-sug-tb ul { list-style-type:none; width:100%; padding:20px 0px;; }
.frnd-sug-tb ul li { float:left; color:#515365; padding:0px 20px; width:33.33%; font-weight:500; font-size: 14px; font-weight: bold; }
.frnd-sug-tab ul li.active{border-bottom:2px solid #2d5ae3; display:block;}

.btn-pst{ background-color:#2d5ae3 !important; font-weight:bold!important;}

.hor_1{ width:100% !important; margin:0px; padding:0px !important; border:none !important;}
.hor_1 ul li { float:left; margin:0px;}
.li-50pt-wid { width:50%; float:left; margin:0px; padding:10px 25px !important; text-transform:uppercase;}
.li-50pt-wid a { color:#9a9fbf;}
.li-50pt-wid a:hover { color:#515365; font-weight:500;}
.li-50pt-wid a.active { color:#515365; font-weight:500;} 

.hor_1-tab-menu a {color:#515365; font-weight:bold;}
.hor_1-tab-menu ul { list-style-type:decimal;}
.hor_1-tab-menu ul li.active { color:#2d5ae3; border-bottom:2px solid #2d5ae3;}

.search-icn-btn {margin: 17px auto 0px; height: 36px; background: rgb(255, 26, 147) none repeat scroll 0px 0px; border-radius: 8px; padding: 9px 30px 0px !important;}

.search-icn-btn:hover {background: #38a9ff none repeat scroll 0 0; color: #fff; transition: all 0.3s ease 0s; cursor: pointer;}

.search-bx { float: left; width:70%; margin:0 auto;}
.search-bx-slt { width:30%; margin:0px; float:left;}

.form-control.custom-form {
  border: 0 none;
  border-radius: 15px;
  float: left;
  margin-top: 17px;
  padding: 0px;
  width: 492px;
  background:#1f3f9e;
  height:36px;
}
.inner-box {
  border: 0 none;
  float: left;
  font-size:10px;
  padding: 10px 15px;
  width: 76%;
  color:#fff;
}
.custom-drop-down {
  border-left: 1px solid #eeeeee;
  color: #fff;
  float: left;
  margin-top:7px;
  padding: 3px 2px;
  text-align: center;
  font-size:10px !important;
  width:24%;
  height:22px;
}



.custom-drop-down i { text-align:center; padding:0px 10px;}
.post-thumb .gifplayer-wrapper{ width:100% !important;}

.atm { float:left; margin:0px; padding:0px !important; width:100%;}
.atm-tb { float:left; margin:0px; padding:0px; background-color:#2956e7; border:none; width:100%; color:#ffffff;}
.atm-tb-li.active { background-color:#fc5d39; transition: all 0.3s ease 0s;}
.atm-tb-li { float:left; margin:0px; padding:10px 2px; border: none; min-width:25%; text-align:center; color:#ffffff;}
.atm-tb-li a { color:#ffffff;}
.atm-tb-li:hover { background-color:#fc5d39; transition: all 0.3s ease 0s;}
.hor_1_scrl { height:390px; overflow-y: scroll;}
.hor_1_num .atm-map { width:100%; float:left; margin:0px; padding:0px;}


.shop { margin:0px; padding: 0px!important; float:left;}
.shop .col-md-12 { padding:0px!important;}
.shop-img { width:100%; margin:0px; padding:0px; float:left;}
.shop-img img { width:100%; margin:0px; padding:0px;}
.shop .dtl { padding:0px 15px; float:left;}

.shop-dtl {margin:10px 0px; float:left; width:100%; padding:0px 5px;}
.shop-dtl img { padding:0px; float:left;}
.shop-distance { float:left; width:35%; margin:0px;}
.shop-name { float:left; width:50%; padding: 0 5px;}
.shop-dtl .shop-name-h6 { font-size:12px !important; float: left;}
.shop-distance .btn-xsm {font-size:12px !important; margin: 3px 0; padding: 8px 14px !important; background-color:#2c5ae3; color:#fff;}

#map { height: 250px; width: 100%; overflow:hidden; }
.map-siz { height: 250px; width: 100%; overflow:hidden; }

.header .col-md-2 { float:left !important; padding:0px 3px!important;}
.header .col-md-7 { float:left !important; padding-right:0px;}	
.header .col-md-3 { float:left !important; padding:0px;}
.header .logo-sec  { float:left; padding:20px 2px;}
.header .contr-bord { padding:17px 0px;}	   
.header .contr-search { padding-left:10px;}	   



/*------LandingPage-------*/
.btn-bl {
  background-color: #2c5ae3 !important; border-radius: 30px !important; letter-spacing:1px; font-weight:400;}
.c-white-bdr {color: #fff; border-radius: 30px!important; letter-spacing:1px; font-weight:400;}
.c-white-bdr:hover { background-color: #2c5ae3 !important; opcity: 0;}
.checkbox a{ color: #2d58e2 !important;}
.landing-page .form-control, .date-time-picker, .is-select {  border: 1px solid #cdd0dd; margin-left:0px !important;}
.landing-page .bootstrap-select > .dropdown-toggle  { margin:0px; border:none;}
.tab-pane .col-md-5 { float:left;}
.tab-pane p a{ color: #2d58e2 !important;}

.bg-facebook i { font-weight:bold;}

.lastes_added-header h3 { padding-top: 0px !important;}
.header-pagination ul li { float:left; border-radius:0px!important;}
.header-pagination ul li .page-link { border-radius:0px !important; font-weight:normal;}

.page-chg { padding:2px; float:left;}

.left-penal-inner .left-bar .checkbox label { padding-left:0px!important; padding-right:12px;}
.prv-icn { float: left;}
.prv-icn .page-link {margin-top:2px;}
.list-pro-inf {
    background: #9a9fbf none repeat scroll 0 0;
    border-radius: 50px;
    height: 40px;
    width: 40px;
	margin:0px 15px 0px 0px; padding:0px;
	float:left;
}

.list-pro-img { width:100%; padding: 0px; margin:0px;}
.list-pro-img img { width:100%; height:230px; margin:0px; padding:0px;}
.list-pro-dtl { float:left;}

.left-bar .checkbox .checkbox-material .check { border: 1px solid #d9d9d9; border-radius: 3px; display: inline-block; height: 17px; overflow: hidden; position: relative; width: 17px; z-index: 1; margin-right:15px;}

.list-pro-msg {padding-bottom: 0 !important; padding-top: 20px !important;}

.show-mor { padding:10px; text-align:center; font-weight:100; border-top:1px solid #cccccc;}
.show-mor a { color:#7f808d; font-weight:normal;}
.show-mor a:hover{ color:#2d5ae3;}

.page-nam { float:left; text-align:center; padding:10px;}
.header-pagination .page-link { border:none !important;} 

.price-sec { float:left; width:100%;}


.ui-user-list { margin-bottom:0px !important; float:left; width:100%;}
.tp-bnr-mr {float: left; margin-top:100px!important; width:100%;}
.ui-user-list .top-header-thumb img { border-radius:0px; max-height:472px ;}
.ui-user-list .author-content { margin-top:-5px !important;}
.country {padding:6px 0px 6px 0px;}
.rating { float:left; padding:0px 0px 12px 0px;}
.rating i { color:#ffca3b;}
.rating-num { font-size:20px; padding-left:10px; font-weight: bold;}

.ui-user-list .profile-section { padding: 20px 0 !important;}
.ui-user-list .profile-menu { padding-top:10px;}
.user-menu-icn {fill: #9a9fbf !important; flood-color: red; margin: 0px 8px 0 0 !important; top: 0!important; width:20px !important; padding:0px; float:left;}
.icn-nam-nav { float:left; padding-top:4px;}
.call-btn { padding:14px 0px !important; margin:0px 10px; min-width:150px; border-radius: 100px !important; float:left !important; border-radius: 100px!important;}

.call-btn:hover { color:#ffffff!important;  opacity:1 !important; background-color: #fc2693;}

.ui-user-list-tab { padding:25px 0px; text-align:center;}
.ui-user-list-tab a { color:#888da8; font-weight: bold;}
.ui-user-list-tab.active, .ui-user-list-tab:hover { border-bottom:2px solid #fc2693;}

.price-sec input { padding:0px;}
.price-sec h4 { padding-left:0px!important;}

.show-product-clik { width:100%; padding:0px; float:left;}
.show-product-clik h4  { padding-left:0px!important;}
.show-product-clik .radio label  {cursor: pointer; font-weight: 400; margin-bottom: 0; min-height: 20px; }
.radio b {
    padding: 0 0 0 10px;
}
.ui-block-title h6 {font-size: 14px !important; font-weight: 700 !important;}
.show-product-clik .radio label span { left:0px!important;}

.ui-user-list .user-tab { margin: 0px 0px 20px 0px!important; background-color:#fff; padding:0px;}
.user-tab ul { list-style-type:none; border:none;}
.user-tab ul li { width:33.33%; padding:10px; text-align:center; }
.user-tab ul li.active { border-bottom:2px solid #fb2595; margin:0px;}
.user-tab ul li a, .user-tab ul li a:hover  { border: none !important; background:none;}
.transparent-bg {background-color:transparent !important; color: #888da8!important;  border: 2px solid #d8dbe6!important; padding:0px !important; min-width: 200px; min-height:50px!important; text-align:center!important;}

.map-post { border-bottom: 1px solid #e6ecf5; padding: 0px; position: relative;}
.map-post .post-video { margin:0px;}
.map-post .post-additional-info {border-top: 1px solid #e6ecf5; padding: 20px;}

.call-now { min-height:100%!important; min-width:100%!important; padding:14px!important; letter-spacing:0.3px; margin:0px!important;}
.call-now:hover { background-color:#2956e7!important; border:none; color:#fff!important; font-weight:bold;}


.product { width:100%; position:relative; border-bottom:1px solid #eae7e7;} 
.list-share-product {transform: translateY(100%); transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s; display: none;}
.info-col:hover .list-share-product  { transform: translateY(0%); display:block; border-bottom:1px solid #eae7e7; transform: translateY(100%); transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s; position:absolute;}
/*
.product-listing-grid .col-md-4:nth-child(3n+1) {padding-left: 0;}*/

.product-listing{background:#fff; float:left; width:100%; padding: 15px 15px 0px; margin-bottom: 20px }
.product-listing-grid{margin:15px 0px; float:left; width:100%;}
.product-listing-grid .info-col{margin: 0px 0px 20px; float:left;}
.product-listing-grid .col-md-4 {
    padding: 0 5px;
    width: 100%;
}
.product-listing-grid .col-md-4:nth-child(3n+1) {
    padding-left: 15px;
}
.product-listing-grid .col-md-4:nth-child(3n+3) {
    padding-right: 15px;
}

.owl-item .info-col .info h4 a {font-weight: bold; display: block; padding:4px 4px 4px 0px;; font-size: 13px!important;}
.owl-item .info-col .info h3 { color: #515365; display: block; font-size: 13px!important;}

.info-col .info h4 { color: #515365; font-weight: bold; display: block; padding: 0px 0px; padding-top: 4px; font-size: 13px!important;}
.info-col .info h3 { color: #515365; display: block; font-size: 13px!important; font-weight:300!important;}

.notification-event .chat-message-item { font-size:11px; color: #888da8 !important; margin:0px!important;}

.ad-nw-bx { background:none !important; float: left; width:100%; min-height:200px !important;}
.bx-hi { height:90px !important; float:left;}
.bg-blue-1 { background-color: #2955e7;}
.mid-content .ui-user-list .nav .nav-tabs .ui-block { width:100%!important;}

.crt-nw-bx { border-radius: 5px; position: relative; height:80px; background-color: transparent !important; border: 2px dashed #bbc0d5 !important;}
.btn-add { border-radius: 100px !important; background-color:#2d5ae3; color: #fff; fill: #fff; padding: 10px 13px !important;float: none !important;}
.crt-nw-bx .content { left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); width: 90%; padding: 20px 25px 20px; text-align: center;}
.create-album svg { height: 20px; width: 20px;}
.crt-nw-bx  .title { display: block; margin-bottom: 0;}
.crt-nw-bx .sub-title { display: block; margin-bottom:10px; color:#888da8; font-size:12px;}
.add-product { padding:20px; padding-left:10px;}
.add-product .author-thumb {height: 40px; margin-right: 12px; width: 50px;}
.add-product .bg-blue-1 { background-color: #2955e7; float: right; margin-top: 6px;}
.add-product .author-thumb img { border-radius: 0; overflow: hidden; background-position:right;}
.add-product .h5, h5 { font-size: 14px; color:#515365; font-weight:700;}
.add-product .product-date { color:#888da8; font-size:12px;}

.ui-user-list .col-md-9 { padding-right:0px !important;}
#pro-shop-map .col-md-9 { padding-right:15px !important;}
#pro-shop-name .col-md-9 { padding-right:15px !important;}
.profile-tab { float:left !important; margin:0px; width:100% !important;}
.profile-tab .profile-menu { border:none!important; padding-top:0px!important;}
.profile-tab .profile-menu .nav ul li.active a { border:none!important;}
.profile-tab .profile-menu .nav ul li a.active  { border:none!important; background:none!important;}
.profile-tab .nav > li > a:focus, .nav > li > a:hover, .nav > li > a:active{background: none!important; text-decoration: none; border:none!important; 	}
.profile-tab .nav > li > a:active { border:none !important; }

.profile-section .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {color:#555; cursor:default; background-color:#fff; border: none!important; border-bottom-color:transparent;}

#user-shop-timeline .col-md-3 { padding-left:0px!important;}
#user-shop-timeline .tab-content .col-xl-3 { padding-right:0px!important;}
.tab-list {border-bottom: 1px solid #e6ecf5;}
.bg-facebook  { margin-right: 15px!important;}
#user-shop-timeline { padding:0px;}
#pro-shop-timeline .col-md-3 { padding-left: 0px; padding-right:15px;}
#pro-shop-timeline .col-xl-3 { padding-left:15px; padding-right:0px;}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 87%) hsl(0, 0%, 87%) hsl(0, 0%, 100%);
 color: hsla(0, 0%, 0%, 0) !important;
}


.mob-top-hdr { clear: both; float: left;  height: 50px; text-align: center; width: 100%;}