
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light_0.woff2') format('woff2'),
         url('../fonts/roboto-light_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular_0.woff2') format('woff2'),
         url('../fonts/roboto-regular_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin_0.woff2') format('woff2'),
         url('../fonts/roboto-thin_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold_0.woff2') format('woff2'),
         url('../fonts/roboto-bold_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium_0.woff2') format('woff2'),
         url('../fonts/roboto-medium_0.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'Conv_AvenirNextLTPro-Regular_1';
	src: url('../fonts/AvenirNextLTPro-Regular_1.eot');
	src: local(''), url('../fonts/AvenirNextLTPro-Regular_1.woff') format('woff'), url('../fonts/AvenirNextLTPro-Regular_1.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Regular_1.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}