@media screen and (min-width:1101px) and (max-width:2500px) {
.upper_nav{
	display:none;
}
.earn-point {
	top: 37%;
}
}
@media screen and (min-width:1024px) and (max-width:1100px) {
	.k-new-navbar {
	 padding-top: 0px !important;
	 padding-right: 10px;
}
.k-new-navbar-item-container {
	padding: 0px 10px !important;
	z-index: 0 !important;
}
.k-new-navbar-item,.k-new-navbar-item-store, .k-new-navbar-item-login, .k-new-navbar-item-menu {
	padding: 3px 0px;
}

.k-new-navbar--expanded .k-new-navbar-item, .k-new-navbar--expanded .k-new-navbar-item-store, .k-new-navbar--expanded .k-new-navbar-item-login,.k-new-navbar--expanded .k-new-navbar-item-menu {
	font-size: 13px !important;
}
.k-new-navbar--expanded .k-new-navbar-right {
	padding: 0 10px !important;
	/*background: #f5f7f9;*/
}
.k-new-navbar-right {
	float: right;
	position: relative;
	padding: 0 15px;
}
.k-new-navbar-item-login, .k-new-navbar-item-store {
	margin-top: 8px !important;
	padding: 0px 20px;
}
.k-new-navbar-item-stack {
	margin-top: 10px !important;
}
.k-new-navbar-item::before, .k-new-navbar-item-store::before, .k-new-navbar-item-login::before, .k-new-navbar-item-menu::before {
	margin: 8px 6px 0 0;
}
.k-new-navbar-side-bar--expanded {
	width: auto !important;
}
.k-new-navbar--expanded .k-new-navbar-item, .k-new-navbar--expanded .k-new-navbar-item-store, .k-new-navbar--expanded .k-new-navbar-item-login, .k-new-navbar--expanded .k-new-navbar-item-menu {
	 color: #fff !important; 
	 overflow-y: scroll !important;	
}
.k-new-navbar-side-bar {
	overflow-y: scroll !important;
	top: 75px !important;
	padding: 40px 40px !important;
}
.crosscolor {
	background-color: #fff !important;
}
.earn-point {
	top: 29%;
}
.contact_banner_matter {
	top: 5%;
}
.address_info {
	display: inline-block;
	width: 100%;
	position: relative;
	padding: 20px 30px;
}
.map_section .right_map {
	width: 66%;
	float: right;
}
.upper_nav{
	display: none;
}
}
@media screen and (min-width:768px) and (max-width:1023px) {
.k-new-navbar-item-container {
	padding: 0px 13px;
}
.k-new-navbar-item::before, .k-new-navbar-item-store::before, .k-new-navbar-item-login::before, .k-new-navbar-item-menu::before {
	margin: 8px 6px 0 0;
}
.contact_banner_matter {
	top: 2.6%;
}
.contact_banner_matter h4 {
	font-size: 30px;
}
.contact_banner_matter p {
	font-size: 14px;
}
.k-new-navbar-left {
	padding-top: 20px;
	width: 19%;
	padding-left: 0px;
}
.k-new-navbar-logo {
	width: 100%;
}
.k-new-navbar-item, .k-new-navbar-item-store, .k-new-navbar-item-login, .k-new-navbar-item-menu {
	font-size: 11px;
	line-height: 38px;
}
.k-new-navbar-item-container {
	padding: 0px 2px;
}
.map_section .right_map {
	width: 66%;
	float: right;
}
.map_section .col-md-4{
  width: 34%;
  display: inline-block;
}
.address_info {
	display: inline-block;
	width: 100%;
	position: relative;
	padding: 20px 30px;
}
.social_links a {
	height: 30px;
	width: 30px;
	line-height: 30px;
}
.contact_person p {
	font-size: 14px;
}
.k-new-navbar-side-bar {
width: auto;
}
.k-new-navbar-side-bar {
	top: 75px;
	overflow-y: scroll;
	padding: 30px 40px;
	width: auto !important;
}
.k-new-navbar--expanded .k-new-navbar-item, .k-new-navbar--expanded .k-new-navbar-item-store, .k-new-navbar--expanded .k-new-navbar-item-login, .k-new-navbar--expanded .k-new-navbar-item-menu {
	color: #fff;
	position: relative;
}
.crosscolor {
	background-color: #fff !important;
}
.upper_nav{
	display: none;
}
.k-new-navbar {
	padding-right: 10px;
}
.earn-point {
	top: 32%;
}
}
@media screen and (min-width:481px) and (max-width:767px) {
.map_section .col-md-4 {
	width: 100%;
	display: inline-block;
}
.map_section .right_map {
	width: 100%;
	float: right;
}
.right_map img {
	min-height: 300px !important;
	width: 100%;
	display: inline-block;
	height: 300px;
}
.address_info {
	padding: 20px 15px;
	height: auto;
}
.contact_banner {
	margin-top: 65px;
}
.contact_banner_matter {
	top: 3.3%;
}
.contact_banner_matter h4 {
	font-size: 35px;
	line-height: 0px;
}
.contact_banner_matter p {
	line-height: 1.7em;
	font-size: 15px;
}
.contact_address {
	margin: 0% 0% 0% !important;
}
.social_links {
	text-align: left;
}
.social_links a {
	margin-top: 25px;
	margin-bottom: 25px;
}
.earn-point {
	top: 28%;
}
.header_part {
	height: 65px;
}
.k-new-navbar-item-container {
	margin-right: 14px;
	width: 100%;
	text-align: right;
	display: inline-block;
}
.k-new-navbar-side-bar--expanded {
	width: 100% !important;
	display: inline-block;
}
.k-new-navbar--expanded .k-new-navbar-right {
	width: 100%;
	display: inline-block;
	z-index: 0px !important;
	padding-left: 0px;
}
.k-new-navbar-left {
	 padding-left: 0px;
	padding-right: 0;
}
.k-new-navbar-item-container {
	margin-right: 0px;
	width: 100%;
	text-align: left;
	display: inline-block;
	padding-left: 0px;
}
.k-new-navbar-item, .k-new-navbar-item-store, .k-new-navbar-item-login, .k-new-navbar-item-menu {
	float: left;
	font-size: 14px;
	margin-bottom: 4px;
	font-weight: 600;
}
.k-new-navbar-side-bar-item {
	font-size: 15px;
	margin-bottom: 8px;
	font-weight: 600;
	padding-top: 8px;
}
.k-new-navbar-side-bar {
	top: 65px;
	padding: 0px 10px;
	width: 100% !important;
	overflow-y: scroll;
}
.k-new-navbar-item-stack {
	top: 0px;
	right: 10px;
	left: auto;
}
.crosscolor {
	background-color: #fff !important;
}
.other_nav{
	display: none;
}
.contact_banner_matter img{
	width: 40px;
	height: 40px;
	display: inline-block;
}
.Get_started h3 {
	font-size: 30px;
}
.get_pro {
	margin-bottom: 20px;
	width: 100%;
}
.premium-partners .Get_started h3 {
	width: 100%;
	font-size: 20px;
	font-weight: 600;
}
}
@media screen and (min-width:320px) and (max-width:480px) {
.map_section .col-md-4 {
	width: 100%;
	display: inline-block;
}
.map_section .right_map {
	width: 100%;
	float: right;
}
.right_map img {
	min-height: 300px !important;
	width: 100%;
	display: inline-block;
	height: 300px;
}
.address_info {
	padding: 20px 15px;
	height: auto;
}
.contact_banner {
	margin-top: 65px;
}
.contact_banner_matter {
	top: 2.3%;
}
.contact_banner_matter h4 {
	font-size: 18px;
	line-height: 0px;
}
.contact_banner_matter p {
	line-height: 1.4em;
	font-size: 13px;
	margin: 0px;
}
.contact_address {
	margin: 0% 0% 0% !important;
}
.social_links {
	text-align: left;
}
.social_links a {
	margin-top: 25px;
	margin-bottom: 25px;
}
.earn-point {
	top: 35%;
}
.header_part {
	height: 65px;
}
.k-new-navbar-item-container {
	margin-right: 14px;
	width: 100%;
	text-align: right;
	display: inline-block;
}
.k-new-navbar-side-bar--expanded {
	width: 100% !important;
	display: inline-block;
}
.k-new-navbar--expanded .k-new-navbar-right {
	width: 100%;
	display: inline-block;
	z-index: 0px !important;
	padding-left: 0px;
}
.k-new-navbar-left {
	 padding-left: 0px;
	padding-right: 0;
}
.k-new-navbar-item-container {
	margin-right: 0px;
	width: 100%;
	text-align: left;
	display: inline-block;
	padding-left: 0px;
}
.k-new-navbar-item, .k-new-navbar-item-store, .k-new-navbar-item-login, .k-new-navbar-item-menu {
	float: left;
	font-size: 14px;
	margin-bottom: 4px;
	font-weight: 600;
}
.k-new-navbar-side-bar-item {
	font-size: 15px;
	margin-bottom: 8px;
	font-weight: 600;
	padding-top: 8px;
}
.k-new-navbar-side-bar {
	top: 65px;
	padding: 0px 10px;
	width: 100% !important;
	overflow-y: scroll;
}
.k-new-navbar-item-stack {
	top: 0px;
	right: 10px;
	left: auto;
}
.crosscolor {
	background-color: #fff !important;
}
.other_nav{
	display: none;
}
.contact_banner_matter img{
	width: 24px;
	height: 24px;
	display: inline-block;
}
.dropdown-submenu > .dropdown-menu {
	left: 36%;
}
.Get_started h3 {
	font-size: 23px;
	line-height: 30px;
	padding: 10px;
}
.toggle_year {
	margin-bottom: 10%;
}
.get_pro {
	margin-bottom: 20px;
	width: 100%;
}
.butn_section {
	display: inline-block;
	width: 100%;
}
.h3-heading {
	font-size: 20px;
	width: 100%;
}
.premium-partners .Get_started h3 {
	width: 100%;
	font-size: 17px;
	font-weight: 600;
}
}