@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf');
	/*src: local(''), url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.ttf') format('truetype'), url('../fonts/Poppins-Regular.svg') format('svg');*/
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../fonts/MARK SIMONSON - PROXIMA NOVA SEMIBOLD-WEBFONT.ttf');
	src: local(''), url('../fonts/POPPINS-LIGHT_0.woff') format('woff'), url('../fonts/POPPINS-LIGHT_0.ttf') format('truetype'), url('../fonts/POPPINS-LIGHT_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body { font-family: 'Open Sans'; 
	src: url('../fonts/OpenSans-Regular.ttf')
  	background-color: #fff;
  	position: relative;
  	width: 100%;}
  
/* CSS Document */
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, input[type=text], button, textarea, p, th, td, 
{ margin:0px; padding:0px; /*border:0;*/}

table { width:100%;}
table, td { border-collapse:collapse; border:none;}

img, a;img { border:none; outline:none;}
ul { list-style:none;}
.materialSelect .select li { line-height: 39px !important;}
.footer_black { background: #000 ; text-align: center ; font-size: 14px; padding:20px 0 ; color: #fff ;}

/*--testimonials_start--*/

.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}




#testimonials {
   /* background-color: #fff;*/
}
#testimonials #dev-snippet-title{
    margin-top: 0px;
    padding-top:30px;
}
#testimonials .testimonials-list {
   /* margin-top: 20px;*/
    /* Slider css */
}
#testimonials .testimonials-list .single-testimonial {
    -webkit-transition: all 0.25s;
    border-radius: 10px;
    /*background-color: #fff;*/
    margin: 15px;
	/*width: 520px !important;*/
}
#testimonials .testimonials-list .single-testimonial .testimonial-holder {
    /*padding: 25px 15px;*/
    padding-bottom: 0px;
	/*background: #fff ;*/

width: 100%;
display: inline-block;
/*border-top: 5px solid #b9b5b5;*/
/*margin-top: 20px;*/
-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
/*box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.2);
*/
padding: 20px 20px 0px;

}
#testimonials .testimonials-list .single-testimonial .testimonial-holder .testimonial-content {
    font-size: 18px;
    text-align: left;
    position: relative;
}
.testimonial-content p {    font-size: 14px;
    font-family: 'Open Sans';
    color: rgb(58, 58, 58);
    line-height: 1.875;
    text-align: justify;
    color: #fff;
    margin: 20px 0px;
    width: 90%;
}
.testimonial-content p > span{
    font-size: 25px;
    display: inline-block;
    height: 20px;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    color: #ff5a5f;
}
.testimonial-content .buy{
    border-bottom:2px solid #fff;
    width: 10%;
    display: inline-block; 
    padding: 0px;
    margin: 0px;
}	
.testimonial-content h1 {font-size: 26px;
    color: #fff;
    text-align: left;
    width: 100%;
   /* margin: 15px 0px;*/
    padding: 0px;
    margin: 0px;
}
#testimonials button{ 
   /* margin-top: 25px !important;*/ background: #58c8c2;
    padding: 10px 25px;
    border-radius: 4px;
}
#testimonials .testimonials-list .single-testimonial .testimonial-holder .testimonial-content .testimonial-caret {
    position: absolute;
    bottom: -46px;
    font-size: 32px;
    color: white;
    left: 40px;
}
#testimonials .testimonials-list .single-testimonial .testimonial-holder .testimonial-user {
    margin-top: 20px;
    clear: both;
    background-color: #82bd61;
    border-radius: 0px 0px 10px 10px;
    padding: 20px 40px;
    text-align: center;
}
#testimonials .testimonials-list .single-testimonial .testimonial-holder .testimonial-user .testimonial-user-image {
    float: left;
    min-width: 50px;
}
#testimonials .testimonials-list .single-testimonial .testimonial-holder .testimonial-user .testimonial-user-image img {
    height: 50px;
    border-radius: 100%;
    border: 2px solid white;
}
#testimonials .testimonials-list .single-testimonial .testimonial-holder .testimonial-user .testimonial-user-name {
    float: left;
    font-weight: bold;
    color: white;
    margin-left: 15px;
    text-align: left;
    font-size: 18px;
}
#testimonials .testimonials-list .single-testimonial .testimonial-holder .testimonial-user .testimonial-user-name a {
    color: #404040;
    font-size: 16px;
}
#testimonials .testimonials-list .testimonial-left-handle {
    position: absolute;
    z-index: 100;
    top: 40%;
    left: -10%;
    cursor: pointer;
}
#testimonials .testimonials-list .testimonial-left-handle:hover {
    color: #82BD61;
}
#testimonials .testimonials-list .testimonial-right-handle {
    position: absolute;
    z-index: 100;
    top: 40%;
    right: -10%;
    cursor: pointer;
}
#testimonials .testimonials-list .testimonial-right-handle:hover {
    color: #82BD61;
}
#testimonials .testimonials-list .slick-dots {
    bottom: -40px;
    text-align: center; 
}
#testimonials .testimonials-list .slick-dots li {
    list-style-type: none;
    display: inline-block;
}
#testimonials .testimonials-list .slick-dots li button {
    background-color: grey;
    border-radius: 50%;
    color: grey;
    height: 24px;
    width: 24px;
    border: 0;
    outline: none;
    margin: 0px 3px;
}
#testimonials .testimonials-list .slick-dots li.slick-active button {
    background-color: white;
    color: white;
    border: 3px solid grey;
}
/*--testimonials_end--*/

/*--HEADER PART START--*/

.header_part { 
    width:100%;
     float:left; 
     margin:0px; 
     padding:0px; 
     position: fixed; 
     z-index:999; 
     height:75px;
     border-bottom: 1px solid #424244;
    background: #424244;
    color: #fff;
 }
.header_top { width:100%; float:left; margin:0px; padding:0px; font-family: 'Open Sans';  border-bottom:1px solid rgb(255, 255, 255, 0.35); position:relative;}
.header_down { width:100%; float:left; margin:0px; padding:0px; position:relative;}
.contxt { width:100%; float:left; margin:0px; padding:15px 0px; color:#ebebeb; font-size:12px;}
.emiltxt { width:100%; float:right; margin:0px; padding:15px 0px; color:#ebebeb; font-size:12px; text-align:right; }
.contxt img { padding-right:10px;}
.emiltxt img { padding-right:10px;}
/*--HEADER PART START--*/

/*-- Banner Section Start--*/
.bannerpart { width:100%; float:left; margin:0px; padding:0px; /*background-image:url(../images/banner-1.png);*/ background-repeat:no-repeat; background-position:center; background-size:cover; /*position: relative;*/}
.search-nav { width:100%; float:left; margin:0px; top:0px; /*position:absolute;*/ height:400px;}
.search-filter { margin:50px 0px 170px 0px; float:left; position:relative; width:100%; padding:0px;}
.bannerheading { float:left; margin:0px; padding:0px; width:100%; text-align:center; font-family: 'Open Sans';} 
.banner-h2 {
 width:100%;
  font-family: 'Open Sans'; 
  color: #51514d;  
  text-transform: uppercase;  
  text-align: center;  
  text-shadow: 1px 1.732px 3.84px rgba(72, 70, 70, 0.157); 
  font-size:35px; 
  margin-top: 150px;
display: inline-block;
}
.banner-h4 { display:inline-block;  font-size:22px; text-align:center; color: #939290; text-align: center;  text-shadow: 0.5px 0.866px 1.9px rgba(90, 90, 90, 0.294);}

.search-filter ul { float:left; margin:0px; padding:0px; width:100%; list-style-type:none;}
.search-filter ul li { float:left; padding:0px 15px; width:23%;}
.search-filter ul li .bootstrap-select { width:100% !important; float:left;}
.search-filter ul li .bootstrap-select .dropdown-menu ul { float:left; width:100%;}
.search-filter ul li .bootstrap-select .dropdown-menu ul li { float:left; width:100%; padding:0px;}
.search-filter ul li .btn-default { background-color: transparent; color: #737373; border-color: #dedede;  border-width: 2px;}
.search-filter ul li:last-child { width:8%; float: left; padding:0px 10px;}
.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {color: #737373
 !important;}
.search-filter ul li .caret {
	display: inline-block;
	width: 0;
	height: 0;
	color: #737373;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 6px dashed;
	border-top: 4px solid\9;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}

.snd-valu { margin:0px; background-color:#73cac2; color:#fff; font-size:16px; padding:4px 15px; border:1px solid #73cac2;vertical-align: top;}

.bannerpart #myCarousel .nav a small { display:block;}
.bannerpart #myCarousel .nav {	background:#eee; position: relative; margin:0 auto; width:80%; left:0px; right:0px; bottom:20px; z-index:95;}
.bannerpart .carousel-inner .item { height:560px;}
.bannerpart .banner-cng { position: absolute; width:80%; margin:0 auto; bottom:10px; left:0px; right:0px}
.bannerpart .carousel-inner .item img { width:100%; height:100%;}
.bannerpart #myCarousel .nav a {    border-radius:0px; padding:17px 0px;}
.bannerpart .banner-cng ul .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > { background-color:#f6bb19 !important; float:left;}
/*.custom-combobox-toggle {
position: relative;
float:right; width:10%; margin:0px !important;
padding: 0 !important; border: none !important;
}
.custom-combobox-input {
margin: 0; padding:0px 10px; background:transparent !important;
}
.ui-widget .custom-combobox {background:transparent !important;}
.ui-widget {
background-color: transparent !important;
color: #FFF !important; border:2px solid #FFF; border-radius:4px;
border-color: #FFF;
border-width: 2px;
}
.ui-widget input { width:90%; border:none !important;}
.ui-helper-hidden-accessible { color:#333;}
.ui-widget.ui-widget-content { color: #333 !important; background:#fff !important; font-size:14px;}
.ui-widget .ui-widget {
font-size: 14px !important;
height: 32px; background:transparent !important; color: #FFF !important;
}
.ui-icon-triangle-1-s {
background-position: -65px -6px !important;
}
.ui-icon {
width: 16px;
height: 30px !important;
}
*/


body.theme2 {
    background-color: #415c71;
}
body.theme2 nav a {
    color: #7ad7ee;
}
body.theme2 nav a:hover {
    color: #539eb1;
}
body.theme2 .magicsearch:focus {
    color: #415c71;
}
body.theme2 .magicsearch-wrapper .magicsearch-box li.ishover {
    background-color: #415c71;
}
body.theme2 .magicsearch-wrapper .multi-item {
    background-color: #415c71;
    color: ##ccc;
    border-color: #fff;
}
body.theme2 .magicsearch-wrapper .multi-item span {
    font-size: 1.6rem;
}
body.theme2 .magicsearch-wrapper.focus .multi-item {
    background-color: #fff;
    color: #fff;
    border-color: #415c71;
}
body.theme2::-moz-placeholder {
    color: #fff;
}
body.theme2::-webkit-input-placeholder {
    color: #fff;
}
.magicsearch {
    border: 2px solid #dedede;
    width: 100%; min-height:36px;
	min-width:100%;
    border-radius: 4px;
    outline: none;
    color: #737373;
    background-color: transparent;
    transition: all .5s cubic-bezier(.19,1,.5,1);
    padding: 3px 10px; opacity:1;
    font-size: 16px;
}

.adjust {
    height: 1px;
}
.magicsearch-wrapper .magicsearch-arrow i::before { border-top-color:#737373 !important;}
.magicsearch-wrapper { width:232px; min-width:232px !important; max-height:72px; }
.magicsearch-wrapper input ##basic { max-height:72px !important; }
.magicsearch dropdown multi { width:232px; min-width:232px !important; min-height:70px; max-height:70px; }
#basic, #productsearch {
	max-width: 230px !important; max-height:72px; overflow-y:scroll; padding-top: 5px;
}

.magicsearch-wrapper [data-columns=''] {
  max-height:72px; overflow-y:scroll;
}
.multi-items {max-height:72px; overflow-y:scroll;}

#basic::scrollbar-thumb {
    background-color: #000000;
}
#basic::scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
#basic::-webkit-scrollbar-thumb {
    background-color: #000000;
}
#basic::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
.magicsearch-wrapper .magicsearch-box.all ul { list-style-type:none;}
.magicsearch-wrapper .magicsearch-box.all ul li { width:100%;}
.magicsearch-wrapper .magicsearch-box ul li { width:100%; float:left;}


/*-- Banner Section End--*/





/*-- why us start --*/

.why_us_sec { width:100%; float:left; margin:0px; padding:0px; overflow:hidden; background-image:url(../images/whys-us-bg.jpg); background-position:center; background-repeat:no-repeat; background-size:cover; font-family: 'Open Sans';}
.h3-heading 
{ 
    text-align:center; 
    font-size: 36px; 
    font-family: 'Open Sans'; 
    color: rgb(77, 79, 84);  
    text-transform: uppercase; 
    margin:20px 0px 20px 0px;
     position:relative;
     width: 70%;
display: inline-block;
 }
.h3-heading:after { position: relative; content:""; width:100%; float:left; margin:10px 0; text-align:center; background-image:url(../images/heading-after.png); background-repeat:no-repeat; background-position:center;  height:5px; right:0px; left:0px;}
.why-me {width:100%; float:left; margin:0px 0px 90px 0px; padding:15px; overflow:hidden; text-align:center; font-family: 'Open Sans';}
.whyme-infograph {width:100%; float:left; margin:0px; padding:15px; overflow:hidden; text-align:center; font-family: 'Open Sans';}
.why-me-dtl {width:100%; float:left; margin:0px; padding:0px; overflow:hidden; text-align:center;}
.why-me-dtl h4 { font-size: 26px; color: rgb(58, 58, 58); text-align: center; width:100%; margin:15px 0px;}
.h3-subheading { width:100%; display:inline-block; text-align:center; margin:0px 0px 25px 0px; padding:0px; color: rgb(129, 129, 129); font-size:14px; font-family: 'Open Sans';}
.h3-subheading p { width:50%; text-align:center; display:inline-block;font-size: 16px;
line-height: 1.9em;}

.why-me-dtl p {font-size: 14px; font-family: 'Open Sans';  color: rgb(58, 58, 58); line-height: 1.875;  text-align: center;}

/*-- why us End --*/




/*-- How it Wrok Start --*/

.howit_wrok_sec { text-align: center; float:left; margin:0px; padding:0px; width:100%; background-color:#fff; font-family: 'Open Sans';}
button.prev { left: -45px; position:absolute; top:120px; border:none; background: transparent; color:#333;}
button.next {right: -45px; position:absolute; top:120px; border:none; background: transparent;  color:#333;}

.howit_wrok_sec .ui-widget-content, .ui-widget-header{ background-color:transparent !important; border:none !important; color:#333 !important;}
.howit_wrok:before { position: relative; content:""; width:100%; float:left; margin:10px 0; text-align:center; background-image:url(../images/howit-work-banner.png); background-repeat:no-repeat; background-position:center;  height:5px; right:0px; left:0px;}
.howit_wrok img { width:100%;} 
.howit_wrok { float:left; margin:0px; padding:0px; width:100%;}
.howit_wrok ul { float:left; margin:0px 0px 100px 0px !important; padding:0px; width:100%;}
.howit_wrok ul li { width:20%; margin:0px !important; border-radius:0px !important; text-align:center; }
.howit_wrok ul li a {font-family: 'Open Sans'; text-transform:uppercase;}
.our-work .tab-heading { color:#62a0a1; font-size: 22px; font-family: 'Open Sans'; text-align:center; color: rgb(98, 160, 161);  font-variant: small-caps; text-transform:uppercase; width:100%; float:left; margin:30px 0px;}
.our-work { width:100%; float:left; margin:20px 0px; padding:0px;}
.our-work p {font-size: 16px; color: rgb(116, 116, 116); width:100%; float:left; margin:0px;line-height: 1.9em;
font-family: 'Open Sans';
text-align: justify;}
.howit_wrok ul li a { width:100%; background:transparent !important; float:left; border-radius:0px; border:none; margin:0px ; font-size: 18px; color: rgb(255, 255, 255) !important; padding:25px!important;}
.tab1 { background-color:#ef716e !important; float:left; border: none !important; margin:0px !important;}
.tab2 { background-color:#f5bf4a !important; float:left;}
.tab3 { background-color:#9ecf7b !important; float:left;}
.tab4 { background-color:#73cac2 !important; float:left;}
.tab5 { background-color:#6e6f70 !important; float:left;}
.howit_wrok_sec .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border:none !important;}
.howit_wrok_sec .ui-tabs .ui-tabs-nav li.ui-tabs-active { padding:0px !important;}
.it-work { width:100%; float:left; margin:25px 0px; padding:0px; }
.it-work-btn-sec { width:50%; padding:10px 20px; float: left; margin: 0 auto; text-align: center; font-family: 'Open Sans';}
.stated-btn {width: 90%; 
    text-align: center;	
    display: inline-block;	
    background:#ef716e;
    padding: 12px; 
    font-size:16px !important;
    border:none; 
    color:#fff;
    font-family: 'Open Sans';
 }
 .stated-btn1 {width: 90%; 
    text-align: center; 
    display: inline-block;  
    background:#73cac2; 
    padding: 12px; 
    font-size:16px !important; 
    border:none; 
    color:#fff;
     font-family: 'Open Sans';
 }

/*-- How it Wrok End --*/

/*-- Pricing list Start --*/
.pricing-sec { width:100%; float:left; margin:0px; padding:0px; overflow:hidden; background-attachment:fixed; 
    background-image:url(../images/pricing-bg.png); 
    background-position:center; 
    background-repeat:no-repeat; 
    background-size:cover; 
    font-family: 'Open Sans';
    text-align: center;
}
.pricing-sec .h3-heading { text-align:center; font-size: 36px; font-family: 'Open Sans'; color: rgb(255, 255, 255);  text-transform: uppercase; margin:50px 0px 40px 0px; position:relative;}
.pricing-sec .h3-subheading { width:100%; display:inline-block; text-align:center; margin:0px 0px 25px 0px; padding:0px; color: rgb(255, 255, 255); font-size:14px;}
.our-pricing { width:100%; float:left; margin:0px 0px 100px 0px; padding:0px; overflow:hidden; }
.price-tab { width:100%; float:left; margin:0px; padding:0px; background:#fff; border-radius:5px;}
.pricing-offer-hd {font-size: 22px; color: rgb(82, 87, 112);  text-transform: uppercase;  text-align: center;  z-index: 322; text-align:center; padding:20px 0px; font-weight:bold; float:left; width:100%;}
.pricing-offer-rat { text-align:center; font-size:40px; font-weight:bold; margin:15px 0px;}
.pricing-offer-rat sup { font-weight:500; font-size:22px;}
.pricing-offer-rat-dtl { font-size:16px; padding:15px 15px; 
    text-align:center; display:inline-block; font-family: 'Open Sans';
line-height: 1.7em;}
.pricing-buy { width:100%; margin:15px 0px 35px 0px; display:inline-block; text-align:center;}
.pricing-buy-btn { 
    width:50% !important; 
    text-align:center; 
    display:inline-block; 
    border:1px solid #73cac2; 
    background:transparent;
     padding:10px; 
     color: rgb(55, 53, 53) !important;
 }
.mrg-top { margin-top:60px;}
.pricing-buy-btn:hover,.pricing-buy-btn.active { background-color:#73cac2; color:#fff !important;}
.price-offer { background-color:#73cac2; 
    color:#fff; 
    width:100%; 
    float:left; 
    overflow:hidden; 
    text-transform:uppercase; 
    padding: 15px 0px;
    text-align:center; 
    font-size:28px;     
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;}

.price-packeg-dtl { width:100%; float:left; margin:0px; padding:0px; display:inline-block; text-align:center; font-family: 'Open Sans';}
.price-packeg-dtl h3 { color:#73cac2; width:100%; text-transform:uppercase; text-align:center;}
.price-packeg-dtl ul { padding:0px; margin:0px; list-style-type:none; display:inline-block; width:80%; text-align:center;}
.price-packeg-dtl ul li {font-size: 15px; color: rgb(255, 255, 255);  text-align: center;  z-index: 351; line-height:30px;}
.price-packeg-dtl ul li a {
 color:#ef716e!important;
}
/*.price-packeg-dtl ul li:after {content: "\f05a"; position:relative; height:5px; width:5px; font-size:14px; color:#878787; right:0px; font-family: 'FontAwesome'; padding-left:10px;}*/

/*-- Pricing list End --*/





/*-- Company Blog Start --*/

.salecom-blg { width:100%; float:left; margin:0px; padding:0px; overflow:hidden; font-family: 'Open Sans';}
.sale-blg-sec { width:100%; float:left; margin:0px 0px 50px 0px; padding:0px;}
.carouselblg {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
 .carousel-control.right {
	right: -12px;
}
/* The indicators */
.salecom-blg .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
 .carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}

.cmp-blog { float:left; margin:0px; padding:0px; width:100%;}
.cmp-blog h4 {margin: 10px;}
.cmp-blog p {margin: 0px 10px 10px 10px; font-size:12px !important; font-family: 'Open Sans'; font-weight:normal; color:#333; opacity: 0.65;}
.cmp-blog img { width:100%; height:150px;}
.cmp-blog .blog-date { margin:0px 10px 10px 10px; color:#333; font-size:12px; text-transform:uppercase; opacity: 0.65;}
.salecom-blg .cmp-blog a:hover { text-decoration:none; }
.salecom-blg .left .carousel-control, .right .carousel-control { top:210px;}
.salecom-blg .carousel-control {
    margin-top: 130px;}
.salecom-blg .left { left:-50px;  background:transparent; color:#333; font-size:32px; line-height:36px;}
.salecom-blg .right { right:-50px; background:transparent; color:#333; font-size:32px; line-height:36px;}

/*-- Company Blog Start --*/



/*-- Buy - easy --*/
.buy-easy { width:100%; float:left; margin:0px; padding:0px; overflow:hidden;}
.buy-easy img { width:100%;}

/*-- Buy Easy--*/



/*-- premium-partners Start --*/
.premium-partners 
{ 
    width:100%; 
    /*float:left;*/ 
    margin:0px; 
    padding:0px; 
    overflow:hidden; 
    font-family: 'Open Sans';
    margin: 4% 0% 0%;
    display: inline-block;
text-align: center;
}
.premium-partners .owl-nav { display:none;}
.carousel-wrap {
	margin: 10px auto 40px auto;
	padding: 0 4%;
	width: 95%;
	position: relative;
}
/* fix blank or flashing items on carousel */
/*.owl-carousel .item {
  position: relative;
  z-index: 100; width:80%;
  -webkit-backface-visibility: hidden; 
}*/

/* end fix */
/*.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}*/
.hide {
  display: none;
}

/*.owl-nav i {
  font-size: 26px;
}*/

/*.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}*/
/*.our-partners .carousel-wrap .owl-carousel .owl-prev 
{ background-color: rgb(176, 176, 176); 
    padding:10px; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px;
}
.our-partners .carousel-wrap .owl-carousel .owl-next 
{ 
    background-color: rgb(176, 176, 176); 
    padding:10px; 
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
}*/
.permium-logo { width:100%; float:left; margin:15px;}
.permium-logo strong { text-align:center; float: left; padding:5px 0px; width:100%;}
.permium-logo p { text-align:center; width:100%; font-size:12px !important; font-family: 'Open Sans'; min-height:140px;}


/*-- premium-partners Start --*/

/*-- contact-form start --*/
.contact-form { text-align: center; width:100%; float:left; margin:0px; padding:0px; overflow:hidden; background-image:url(../images/contactus-bg.png); background-position:center; background-repeat:no-repeat; background-size:cover; font-family: 'Open Sans';}
.our-contactus { width:100%; float:left; margin:0px; padding:0px;}
.our-contactus .h3 {
    font-size: 28px; 
    color:#73cac2; 
    text-align: left; 
    z-index: 428;
}
.our-contactus h4 { font-size:20px; margin:15px 0px; color:#474848;text-align: left;}
.our-contactus span { text-align: left;width:100%; float:left; margin:0px; padding:0px; font-size: 16px;  color: rgb(71, 72, 72); margin: 0px;}
.our-contactus span i { padding-right:20px; padding-bottom:5px;}
.our-contactus .group { 
	position: relative; 
	margin-bottom: 45px; 
}
.our-contactus input, .our-contactus textarea {
	font-size: 15px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: transparent;
	color: #636363;
	width: 100%;
	border: none; box-shadow: none;
	border-radius: 0;
	border-bottom: 1px solid #73cac2; 
}
.our-contactus select {
	padding: 4px 10px 3px 5px; font-family: 'Open Sans';
	-webkit-appearance: none;
	display: block;
	background: transparent;
	color: #636363;
	width: 100%;
	border: none;
	box-shadow: none;
	border-radius: 0;border-bottom: 1px solid #73cac2; 
	font-size: 14px;
    margin-top: 4px;
}
.our-contactus input:focus, select:focus, .our-contactus textarea:focus { outline: none; }
.mail-info { float:left; margin:0px; padding:0px; width:100%;}
.mail-info img { opacity:0.75;}
/* Label */

.our-contactus label {
	color: #525151; 
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 7px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}


/* active */

.our-contactus input:focus ~ label, input.used ~ label {
	top: -20px;
  -webkit-transform: scale(.75);
          transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #73cac2;
}

.our-contactus textarea:focus ~ label, textarea.used ~ label {
	top: -20px;
  -webkit-transform: scale(.75);
          transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #f6bb19;
}

.our-contactus select:focus ~ label, select.used ~ label {
	top: -20px;
  -webkit-transform: scale(.75);
          transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #f6bb19;
}

/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #f6bb19; 
	-webkit-transition: all 0.2s ease; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

.our-contactus input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.our-contactus .highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

.our-contactus input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}

.our-contactus textarea:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}

.our-contactus select:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}



input:focus { outline: none; }


/* Label */

.label_input label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
    color: #999;
}


/* active */
textarea
input:focus ~ label, input.used ~ label {
	top: -20px;
  -webkit-transform: scale(.75);
          transform: scale(.75); left: -2px;
	/* font-size: 14px; */
	color: #f6bb19;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px; 
	width: 0;
	bottom: 1px; 
	position: absolute;
	background: #73cac2; 
	-webkit-transition: all 0.2s ease; 
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */
textarea

input:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}

textarea:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	        animation: inputHighlighter 0.3s ease;
}

/* Animations */

@-webkit-keyframes inputHighlighter {
	from { background: #f6bb19; }
	to 	{ width: 0; background: transparent; }
}

@keyframes inputHighlighter {
	from { background: #f6bb19; }
	to 	{ width: 0; background: transparent; }
}

/* Animations */

@-webkit-keyframes textareaHighlighter {
	from { background: #f6bb19; }
	to 	{ width: 0; background: transparent; }
}

@keyframes textareaHighlighter {
	from { background: #f6bb19; }
	to 	{ width: 0; background: transparent; }
}



/* Button modifiers */

.our-contactus .buttonBlue {
  background: #f6bb19;
  text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.our-contactus .buttonBlue:hover { background: #f6bb19; }


/* Ripples container */

.our-contactus .ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.our-contactus .ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.our-contactus .ripples.is-active .ripplesCircle {
  -webkit-animation: ripples .4s ease-in;
          animation: ripples .4s ease-in;
}


/* Ripples animation */

@-webkit-keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;} 
	}

.our-contactus ul { list-style-type:none; padding:0px; margin-top:15px 0px 0px 0px; float:left;}
.our-contactus ul li { padding:0px 15px 0px 0px; width:50%; float:left;}
.form-dtl { float:left; margin:30px 0px; padding:0px; width:100%; font-family: 'Open Sans';}
.our-contactus ul li:last-child { width:100%;}
.form-dtl form { float:left; width:100%;}
.our-contactus .form-dtl .form-control:focus 
{
    border-color: #73cac2 !important; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(115,202,194,.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(115,202,194,.6);}

.aform-btn { width:80%; float:left; margin:0px;}
.submit { float:left !important; 
    margin:0px 15px !important; 
    width:42% !important; 
    background:#73cac2 !important; border:none !important; color:#fff !important; border-radius:0px !important; padding:12px 15px !important;}
.submit input, .submit textarea { border: none !important; color:#fff !important;}
.joinus input, .submit textarea  { border: none !important; color:#fff !important;}
.aform-btn .joinus, .submit span { color:#fff !important; margin:0px; text-transform:uppercase;}
.joinus { 
    float:left !important; 
    margin:0px 15px !important; 
    width:42% !important; 
    border:1px solid #73cac2 !important; 
    color:#3f3f3f!important; 
    border-radius:0px !important; 
    padding:6px 15px !important;
}
.aform-btn .joinus span  { border: none !important; color:#3f3f3f !important; margin:5px 0px;}

.map-responsive{
    overflow:hidden;
    padding-bottom:100%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/*-- contact-form End--*/

/* -- about-salecoms start -- */

.about-salecoms { 
    width:100%; 
    float:left; 
    margin: 20px 0px 0px;
    padding:0px; 
    background-color:rgb(255, 255, 255); 
    overflow:hidden; 
    font-family: 'Open Sans';
    text-align: center;
}
.about-salecoms .about-me { border: 1px solid #e2e6ed; padding: 60px 40px 10px 40px; text-align: center; background-color: #fafafa;}
.about-me i {font-size: 80px; color: #f6bb19; margin-bottom: 30px;}
.about-me h2 {
    font-size: 24px; 
    color: #73cac2;	
    margin-bottom: 20px; 
    line-height: 40px;
    font-family: 'Open Sans';
}
.about-salecoms .about-me:hover {border: 1px solid #e2e6ed;	padding: 60px 40px 10px 40px;	text-align: center; background-color: #fafafa; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; cursor:pointer;}
.about-me a p { font-size:17px; color:#6d6d6d; text-decoration:none;}
.about-me h2 a:hover { text-decoration:none;}
.about-me h2 a { color: #f6bb19;}
.about-me-dtl { float:left; width:100%; float:left; margin:0px; min-height:180px;}
.about-me-pic { float:left; width:100%; float:left; margin:0px; min-height:110px;}


/* -- about-salecoms end -- */






/*-- Footer Start --*/
.salecoms-footer { width:100%; float:left; margin-top: 0%; padding:0px; background-color:rgb(255, 255, 255); overflow:hidden;border: 1px solid #ccc;}
.ft-sec { width:100%; margin:0px; padding:65px 0px; float:left;}
.about-cmpy { width:100%; margin:0px; float:left; padding:0px;}
.about-cmpy ul { float:left; margin:0px; padding:0px; width:100%; list-style-type:none;}
.about-cmpy span { width:100%; float:left; font-size: 15px;  color: rgb(77, 77, 77); margin:15px 0px; line-height: 28px;  text-align: justifyLeft;  z-index: 453;}
.cmpy-links { width:100%; margin:0px; float:left; padding:0px;}
.cmpy-links ul li { color: rgb(77, 77, 77); width:100%;  z-index: 93; font-size:15px; padding:8px 0px;}
.cmpy-links h4 { font-size:22px; padding-left:35px; text-transform:uppercase;font-weight: 600;}
.cmpy-links ul li a{ color: rgb(77, 77, 77); width:100%;}
.ft-subline { background-color:#e4e4e4; width:100%; float:left; text-align:center; padding:0px; margin:0px;}
.ft-disclaimer { padding:10px 0px; text-align:center; font-size:13px;}



/*-- Footer End --*/


/*-- Button Effect Start --*/
.col {
  display: inline-block;
  vertical-align: top;
}

main {
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  display: inline-block;
  left: 50%;
}
main header {
  color: #fff;
  text-align: center;
  margin: 1em;
}
main header h1 {
  font-size: 1.25em;
  margin: 0.25em;
}
main header a {
  color: #6ab8f7;
  text-decoration: none;
}

.button {
  position: relative;
  font-weight: 100;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
.button.raised {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  }
.button.raised:active {
  background: #0c7dd8;
  box-shadow: 0px 1px 1px #063e6b;
}

span {
  font-weight: 400;
}

input[type="checkbox"].toggle {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  left: 0;
  top: 0;
  cursor: pointer;
}
input[type="checkbox"].toggle:focus {
  outline: 0;
}

.anim {
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
}
.anim:before {
  position: relative;
  content: '';
  display: block;
  margin-top: 100%;
}
.anim:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
}

.clickable .toggle:checked + .anim {
  -moz-animation: anim-in 0.75s;
  -webkit-animation: anim-in 0.75s;
  animation: anim-in 0.75s;
}
.clickable .toggle:checked + .anim:after {
  -moz-animation: anim-in-pseudo 0.75s;
  -webkit-animation: anim-in-pseudo 0.75s;
  animation: anim-in-pseudo 0.75s;
}
.clickable .toggle:not(:checked) + .anim {
  -moz-animation: anim-out 0.75s;
  -webkit-animation: anim-out 0.75s;
  animation: anim-out 0.75s;
}
.clickable .toggle:not(:checked) + .anim:after {
  -moz-animation: anim-out-pseudo 0.75s;
  -webkit-animation: anim-out-pseudo 0.75s;
  animation: anim-out-pseudo 0.75s;
}

.hoverable:hover > .anim {
  -moz-animation: anim-out 0.75s;
  -webkit-animation: anim-out 0.75s;
  animation: anim-out 0.75s;
}
.hoverable:hover > .anim:after {
  -moz-animation: anim-out-pseudo 0.75s;
  -webkit-animation: anim-out-pseudo 0.75s;
  animation: anim-out-pseudo 0.75s;
}

@-webkit-keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-ms-keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes anim-in {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@-moz-keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@-ms-keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@keyframes anim-in-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@-webkit-keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-ms-keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes anim-out {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@-moz-keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@-ms-keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
@keyframes anim-out-pseudo {
  0% {
    background: rgba(0, 0, 0, 0.25);
  }
  100% {
    background: transparent;
  }
}
	

/*-- Button Effect End--*/


/*-- Clouds Effect Start --*/
.cloud-effect { position:absolute; width:100%;}
#clouds{
	padding: 100px 0; background:#transparent;
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px; height: 60px;
	background: #fff;
	
	border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
	top:350px;
	-webkit-animation: moveclouds 15s linear infinite;
	-moz-animation: moveclouds 15s linear infinite;
	-o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 200px;
	top:50px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}

.x3 {
	right: 250px; top: 100px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

.x4 {
	left: 10px; top: 250px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 18s linear infinite;
	-moz-animation: moveclouds 18s linear infinite;
	-o-animation: moveclouds 18s linear infinite;
}

.x5 {
	left: -150px; top: 220px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
/*-- Clouds Effect End --*/

/*-- Earn point btn start--*/
.earn-point {
position: fixed;
display: block;
top: 45%;
margin-top: 165px;
left: 50px;
cursor: pointer;
z-index: 99;
bottom: 5%;
}
.earn-point img { 
width:90%;
position: relative;
}

.earn-point img:hover {
    -webkit-transform: rotate(5deg) scale(0.8);
    transform: rotate(20deg) scale(1.05); transition: all .25s;
}

/*-- Earn point btn End--*/


/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}

 
#btn_submit { width:200px !important;}

button{
  position: relative;
  border: none;
  outline:none;
  cursor: pointer;
  background: #a5003c;
  color: #fff;
  padding: 10px 60px;
  border-radius: 0px;
  /*font-size: 22px;*/
}

.fab{
  border-radius: 50%;
  margin:0;
  padding: 20px;
}

.material{
  position:relative;
  color:white;
  margin: 20px auto;
  height:400px;
  width:500px;
  background:#f45673;
  
}

.ripple{
  overflow:hidden;
  width:100%; font-size: 18px; color:#fff; }
  
.login-btn { margin-bottom:50px; margin-top: 30px; -webkit-box-shadow: 2px 3.464px 12.09px 0.91px rgba(61, 58, 58, 0.42); -moz-box-shadow: 2px 3.464px 12.09px 0.91px rgba(61, 58, 58, 0.42); box-shadow: 2px 3.464px 12.09px 0.91px rgba(61, 58, 58, 0.42);}
.forget-pas a{color: #1d1d1d; font-size: 16px; text-align: right;}


.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;

    
  -webkit-animation: ripple-animation 2s;

    
          animation: ripple-animation 2s;
}


@-webkit-keyframes ripple-animation {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.4;
    }
    to {
      -webkit-transform: scale(100);
              transform: scale(100);
      opacity: 0;
    }
}


@keyframes ripple-animation {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.4;
    }
    to {
      -webkit-transform: scale(100);
              transform: scale(100);
      opacity: 0;
    }
}



/*---------------------------------------------------------------------------------------*/
/* NEW PAGE(SIGNUP START) */

.bdr-btm { border-bottom:1px solid #a7a7a7;}
.signup  { width:100%; /*float:left;*/ margin:0px 0px 0px 0px; padding:0px; overflow:hidden;
background: url('../images/back_signup.jpg');
background-size: cover;
}
.form { width:100%; float:left; margin:0px; padding:0px; }
.form-heading {font-size: 20px; margin:25px 0px; color: rgb(147, 146, 144); z-index: 85;}
.form-feeds { width:100%; display:inline; text-align:center; margin:0px; padding:0px; }


label {
  position: absolute;
}

.signup input[type="text"],
.signup input[type="password"] ,
.btn{
  width: 100%;
  border: none;
  padding: 5px 8px 5px 35px;
  font-size: 16px;
  border:1px solid #c2c2c2;
  color: #333;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
}

form li {
  position: relative;
 /* margin-bottom: 25px;*/
}
.form li .trem_cond { font-size: 13px !important; color: #fff ;width: 100%;
text-align: center;line-height: 1.9em;}
.form li .trem_cond a{ color: #fff !important ;text-decoration:underline !important ;}

.form li .acount { color: #fff ; font-size: 15px;
line-height: 2.5em;}
.form li .acount a{ color: #fff !important ; text-decoration:underline ;}
.form-feeds li i { position:absolute; top:10px; left:10px; color:#fff; opacity:0.5; z-index:999;}
.label_input {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.label_input label {
  position: absolute;
  left: 20px;
  top: 9px;
  font-size: 16px; font-weight:lighter;
  transition: all .35s ease-out;
  text-align: left; font-style:italic; opacity:0.8;
}

.label_input .move {
 left: -42%; width:110px;
  text-align: right;
}
.input-fed { width:100%; margin:10px 0px;}
.drop {
  display: block;
  position: absolute;
  background: #CCC;
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.drop.animate {
  -webkit-animation: drop 1s ease-out;
          animation: drop 1s ease-out;
}

@-webkit-keyframes drop {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}

@keyframes drop {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
.materialSelect {
  height: 42px;
  position: relative;
  text-align: center; 
  width:100%; line-height:32px;
  border:1px solid #c2c2c2;
}
.materialSelect.error .select:not(.isOpen) {
  border: 1px solid #DD2C00 !important;
}
.materialSelect.error .message {
  display: block;
}
.materialSelect.inline {
  float: none !important;
  display: inline-block;
  z-index: 0;
  min-width: 100px;
}
.materialSelect.inline .select {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  top: 0;
  left: 0;
  margin: 0;
  -webkit-transition: all 0.2s !important;
  transition: all 0.2s !important;
  width: 100%;
  height:100%;
}
.materialSelect.inline .select.isOpen {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50%;
}
.materialSelect:not(.inline) {
  width: 100%;
}
.materialSelect:not(.inline) .select {
  width: 100%;
  margin-left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.materialSelect .select {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -1px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 250px;
  text-align: center;
  margin: 0px auto;
  z-index: 9999;
  height: 48px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  background-color: #fff;
  margin-left: 0;
  -webkit-transform: none;
          transform: none;
}
.materialSelect .select:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #bbbbbb;
  content: '';
  display: block;
  height: 0px;
  position: absolute;
  pointer-events: none;
  top: 19px;
  right: 10px;
  width: 0px;
}
.materialSelect .select li {
  cursor: pointer;
  font-size: 15px;
  list-style: none;
  position: relative;
  overflow: hidden;
}
.materialSelect .select li[data-selected] {
  height: 38px;
  text-align: left ;
  padding-left: 32px;
  font-size: 16px;
  font-weight: lighter;
  transition: all .35s ease-out;
  font-style: italic;
  opacity: 0.8;
  color: #999 ;
}
.materialSelect .select li:not([data-selected]) {
  height: 0px;
  opacity: 0;
}
.materialSelect .select.isOpen {
  background-color: #fafafa;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.3);
  padding-bottom: 16px;
  top: -96px;
  height: 200px;
  z-index: 99999;
}
.materialSelect .select.isOpen:after {
  display: none;
}
.materialSelect .select.isOpen:before {
  border-color: transparent !important;
}
.materialSelect .select.isOpen li {
  height: 48px;
  opacity: 1;
}
.materialSelect .select.isOpen li[data-selected] {
  color: #E91E63;
}
.materialSelect .select.isOpen li:hover {
  background-color: #eeeeee;
}
.materialSelect .select.isOpen li:active {
  background-color: #dbdbdb;
}
.materialSelect .select:not(.isOpen):hover {
  background-color: #f7f7f7;
}
.materialSelect .select:not(.isOpen):active {
  -webkit-box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.3);
}
.materialSelect .select + .select:before {
  border-left: thin solid #c8c8c8;
  content: '';
  height: 32px;
  left: 0;
  position: absolute;
  top: 8px;
}
.materialSelect .message {
  position: absolute;
  top: 50px;
  width: 100%;
  color: #DD2C00;
  display: none;
}
.materialSelect .select li { margin-bottom:0px !important; line-height:22px;}
.sign-btn {
	width: 100% !important;
	text-align: center; text-transform:capitalize !important;
	display: inline-block;
	padding: 10px;
	background:#ff5a5f;
	color: #fff!important;
    border-radius: 4px;
}
/*SubMenu Of Dropdown*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
/*Submenu of Dropdown Close*/

.read-more-show
{
    color: #73cac2;
}
.read-more-show:hover{
    color: #ef716e;
}
.our-partners{
    background: #FAFAFA;
    padding: 10px;
    margin: 0px 0px 0px;
    display: inline-block;
    width: 100%;
}
/*---------------------------------------------------------------------------------------*/

/*Pricing Page*/
.Get_started{
    width: 100%;
    display:inline-block;
    text-align: center;
    margin-top: 5%;
}
.Get_started h3{
text-align: center;
width: 70%;
display: inline-block;
font-family: 'Open Sans';
color: rgb(77, 79, 84);
/*text-transform: capitalize;*/
margin: 50px 0px 5px 0px;
position: relative;
line-height: 45px;
}
.Get_started .get_para{
color: #5e737f;
text-align: center;
display: inline-block;
font-size: 15px;
padding-bottom: 15px;
width: 100%;
}
.get_pro{
    display: inline-block;
    width: 27%;
    border: 1px solid #eee;
    box-shadow: 2px 2px 7px #eee;
    margin-right: 1%;
    vertical-align: top;
}
.butn_section{
  display: inline-block;
    width: 27%;
    margin-right: 1%;
    vertical-align: top; 
    margin-top:5%; 
}
.butn_section p{
    width: 100%;
display: inline-block;
font-size: 14px;
padding: 20px 0px;
}
.get_pro .upper_head{
    display: inline-block;
    width: 100%;
    padding: 17px;
    min-height: 215px;
    background: #ef716e;
    color: #fff;  
}
#trial_pro{
    width: 100%;
    display: inline-block;
}
.get_pro .upper_head2 {
    display: inline-block;
    width: 100%;
    padding: 17px;
    min-height: 215px;
    background: #f5bf4a /*rgba(115,202,194,0.6)*/;
    color: #fff;
}

.upper_head h2,.upper_head1 h2,.upper_head2 h2{
    width: 100%;
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    margin-top: 0px;
}

.upper_head h3,.upper_head1 h3,.upper_head2 h3{
    width: 100%;
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    margin-top: 0px;
    color: #fff;
}
.upper_head .billed,.upper_head1 .billed,.upper_head2 .billed{
    color: #fff;
    font-size: 13px;
    display: inline-block;
    width: 100%;
    line-height: 1.4em;
}
.upper_head .price_annual,.upper_head1 .price_annual,.upper_head2 .price_annual{
 color: #fff;
 width: 800;
  display: inline-block;
  font-size: 30px;
  padding: 0px;
margin: 0px;
line-height: 0px;
}
.upper_head .price_annual .get_currency,.upper_head1 .price_annual .get_currency,.upper_head2 .price_annual .get_currency{
    font-size: 12px;
}
.upper_head .get_user,.upper_head1 .get_user,.upper_head2 .get_user{
color: #fff; 
font-size: 15px;
padding: 0px;
margin: 0px;
line-height: 0px;
display: inline-block;
width: 100%;
  font-weight: 600;
}
.secondry_head{
   display: inline-block;
width: 100%;
padding: 20px 10px; 
text-align: center;
background: #f3f5f6;
color: #666;
font-weight: 500;
font-size: 17px;
}
.get_pro ul{
    width: 100%;
    display: inline-block;
    list-style-type: circle;
    text-align: center;
    margin-bottom: 0px;
    padding: 0px;
}
.get_pro ul li{
    color: #818181;
    font-size: 15px;
    text-align: center;
    border-bottom:1px solid #ececec;
    padding: 15px;
    width: 100%;
    display: inline-block; 
    list-style-type: circle;
    line-height: 1.5em;
}

.biliboard {
   width: 160px;
padding: 15px 0px;
    text-align: center;
    position: relative;
    background: #f5bf4a;
    color: #fff;
   font-size: 85%;
    text-transform: capitalize;
    border: 2px solid #f5bf4a;
    border-radius: 4px;
  font-weight: 500;
font-family: Open Sans;
}
.biliboard:hover
{
   background: #f5bf4a;
    color: #fff;
    text-decoration: none;
}

@keyframes repeating {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 85px;
    }   
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*Extra Color Showing in Pricing List */
.biliboard1 {
    width: 160px;
padding: 15px 0px;
    text-align: center;
    position: relative;
    background: #ef716e;
color: #fff;
   font-size: 85%;
    text-transform: capitalize;
    border: 2px solid #ef716e;
border-radius: 2px;
font-weight: 500;
font-family: Open Sans;
}
.biliboard1:hover{
   background: #ef716e;
    color: #fff; 
    text-decoration: none;
}

/*Other Color*/
.biliboard2 {
width: 160px;
padding: 15px 0px;
text-align: center;
position: relative;
background: #73cac2;
color: #fff;
font-size: 85%;
text-transform: capitalize;
border: 2px solid #73cac2;
border-radius: 2px;
font-weight: 500;
font-family: Open Sans;
}
.biliboard2:hover{
   background: #73cac2;
    color: #fff; 
    text-decoration: none;
}
.biliboard3 {
    width: 160px;
padding: 14px 25px;
    text-align: center;
    position: relative;
    background: transparent;
    color: #fff;
   font-size: 85%;
    text-transform: capitalize;
    border: 2px solid #fff;
border-radius: 2px;
font-weight: 500;
font-family: Open Sans;
display: inline-block;
}
.biliboard3:hover,.biliboard3:active{
  background: #fff;
color: #ef716e;
    text-decoration: none;
}
.biliboard4 {
    width: 160px;
padding: 14px 20px;
    text-align: center;
    position: relative;
    background: transparent;
    color: #fff;
   font-size: 85%;
    text-transform: capitalize;
    border: 2px solid #fff;
border-radius: 2px;
font-weight: 500;
font-family: Open Sans;
display: inline-block;
border-radius: 25px;
}
.biliboard4:hover,.biliboard4:active{
  background: #fff;
  color: #ef716e;
  text-decoration: none;
}
/*Other Color Close*/
@keyframes repeating1 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 85px;
    }   
}


/*Extra Color SHowing in Pricing Tables close*/
.get_pro .get_after{
    width: 100%;
    display: inline-block;
  /*  color:#;*/
    font-size: 14px;
    padding: 20px 0px;
}
.compare_feature{
    display: inline-block;
    width: 100%;
    margin-top: 2%;
      text-align: left;
}
.compare_head{
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}
.compare_head h3{
    color: #666;
    display: inline-block;
}
.compare_head img
{
  display: inline-block;  
}
.compare_feature > .table-responsive > .table > tbody > tr > td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
   border-top: none;
    font-size: 15px;
    text-align: left;
    /* font-weight: 600; */
    width: 33.3%;
}
/*Pricing Page close*/

/*About Us Start*/
.about_info{
    width: 100%;
    display: inline-block;
    padding: 40px;
    text-align: center;
}
.about_info img{
    text-align: center;
    display: inline-block;
}
.about_info h3
{
    display: inline-block;
    width: 100%;
    font-size: 22px;
    color: #333;
    line-height: 1.5em;
    font-weight: 600;
    font-family: Open Sans;

}
.about_info a{
    margin-top: 15px;
    display: inline-block;
}
/*.about_info a:hover{
    color: #73cac2;
text-decoration: none;
}*/
.about_info p{
    color: #818181;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    line-height: 1.7em;
}
.get_pro .upper_head1{
    display: inline-block;
width: 100%;
padding: 17px 0px 0px;
min-height: 215px;
background: rgb(115,202,194);
color: #fff;
}
.upper_head1 h2 {
    width: 100%;
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
    margin-top: 0px;
}
.upper_head1 .price_annual {
    color: #fff;
    width: 800;
    display: inline-block;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
}
.upper_head1 .price_annual .get_currency {
    font-size: 12px;
}
.upper_head1 .billed {
    color: #fff;
    font-size: 13px;
    display: inline-block;
    width: 100%;
    line-height: 1.5em;
    padding: 10px 0px 0px;
}
.upper_head1 .get_user {
    color: #fff;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    display: inline-block;
    width: 100%;
    font-weight: 600;
}

/*About US Close*/

/*Now Contact Page Color Change*/
.about_info1{
    width: 100%;
display: inline-block;
padding: 40px 0px;
text-align: center;
}
.about_info1 img {
    text-align: center;
    display: inline-block;
}
.about_info1 h3 {
    display: inline-block;
    width: 100%;
    font-size: 25px;
    color: #333;
    line-height: 1.5em;
}
.about_info1 p {
    color: #818181;
    width: 100%;
    display: inline-block;
    font-size: 18px;
}
.about_info1 a {
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: #DA4E3D;
}
.other_button{
    z-index:0;
    position: relative;
    background: transparent;
    width: auto;
display: inline-block;
margin-right: 5%;
}
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.navbar{
    margin-bottom: 0px;
}
.navbar-nav > li {
    float: left;
    transition: opacity 0.1s ease;
    float: left;
    text-align: left;
    margin-right: 5px;
    position: relative;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #212123;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #424244;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    transition: color 0.1s;
    color: #424244;
    text-decoration: none;
    float: left;
    font-size: 14px;
    line-height: 45px;
    text-align: left;
    outline: 0;
    margin-bottom: 10px;
    font-weight: 500;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #424244;
     background-color: transparent;
 }
/*Contact page color Change Close*/


/*Blog Page CSS*/

.blog_recent{
    width: 100%;
    display: inline-block;
    margin-top: 3%;
}
.side_blog{
    display: inline-block;
    width: 100%;
    border-top: 5px solid #73cac2;
}
.right_blog{
  display: inline-block;
    width: 100%;
    border-top: 5px solid #73cac2;  
}
.right_img_section{
   display: inline-block;
    width: 100%; 
}
.right_content{
   display: inline-block;
    width: 100%; 
    margin-top: 2%; 
}
.right_content h2{
     display: inline-block;
    width: 100%; 
    font-size: 20px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 5px;
}
.right_content p{
  display: inline-block;
    width: 100%; 
    font-size: 16px;  
    line-height: 1.7em;
    text-align: justify;
    padding-top: 5px;
}
.bottom_blog{
    width: 100%;
    display: inline-block;
    margin-top: 2%;
}
.right_blog a{
   text-decoration: none;
   color: #73cac2; 
   display: inline-block;
   float: right;
   margin-top: 5%;
}
.bottom_single{
    display: inline-block;
    width: 100%;
    margin-bottom: 12%;
}
.bottom_single_right{
    display: inline-block;
    width: 100%;
}
.top_blog .right_img_section img {
    border-style: none;
    max-height: 135px;
    width: 100%;
}
.recommanded_section{
    display: inline-block;
    width: 100%;
}
.top_recommanded{
background: #f7f7f7;
width: 100%;
padding: 10px;
border-top: 5px solid #73cac2;
text-align: center;
font-size: 20px;
font-weight: 600;
color: #666;
text-transform: uppercase;
border-bottom: 1px solid #eee;
}
.recommanded_section p{
    font-size: 15px;
    color: #363636;
    display: inline-block;
    font-weight: 300;
     text-align: justify;
    line-height: 1.5em;
}
.recommand_bottom{
    margin-top:0%;
    display: inline-block;
    width: 100%;
    padding: 20px 0px;
    border-bottom:1px solid #eee ;

}
.recommand_bottom img{
    min-height: 60px;
    display: inline-block;
    width: 100%;
}
.owl-carousel .owl-item img {
    display: block;
   width: auto !important; 
    -webkit-transform-style: preserve-3d;
}
/*Blog page css stop*/

/*Map Section In contact Page*/
.map_section{
    display: inline-block;
    width: 100%;
    background: #f5f5f5;
    margin-top: 2%;
}
.headquaters{
    display: inline-block;
    width: 100%;
    padding:20px;
}
.headquaters h3{
    font-weight: 600;
    font-family:Proxima Nova Lt;
    font-size: 20px;
    color: #404040;
}
.headquaters p{
    font-size: 15px;
    line-height: 1.7em;
    display: inline-block;
   /* font-weight: 600;*/
}
.location_image{
    display: inline-block;
    width: 100%;
    padding:0px;
    margin: 0px;
    position: relative;
}
.right_map img{
    min-height: 553px;
    height: 553px;
    width: 100%;

}
.map_section .right_map {
width: 65.9%;
padding:0px 0px 0px 0px;
display: inline-block;
}
.center_locartion{
width: 100%;
display: inline-block;
padding: 50px;
background: #da4d3c;
color: #fff;
position: absolute;
top:20%;
left:10%;
}
.owl-item .item {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.owl-carousel .owl-item img {
    display: inline-block !important;
    text-align: center;
    width: 100%;
}
 
.k-new-navbar-right .dropdown-menu{
        left: 15px;
        position: absolute;
}
 .dropup, .dropdown {
    position: relative;
}
.dropdown-toggle {
    margin-bottom: -3px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 150px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    text-decoration: none;
    color: #ffffff;
    background-color: #9ecf7b;
    background-image: -moz-linear-gradient(top, #9ecf7b, #9ecf7b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ef716e), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #9ecf7b, #9ecf7b);
    background-image: -o-linear-gradient(top, #9ecf7b, #9ecf7b);
    background-image: linear-gradient(to bottom, #9ecf7b, #9ecf7b);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ecf7b', endColorstr='#9ecf7b', GradientType=0);
}
.k-new-navbar-right .dropdown:hover > ul.dropdown-menu {
    display: block;
    margin-top: 0px;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333333;
    white-space: nowrap;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
    content: none;
}
.dropdown-menu {
    list-style: none;
}
.k-new-navbar-right .k-new-navbar-item-container .dropdown-menu::before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
        border-bottom-color: rgb(204, 204, 204);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 9px;
}
.dropdown-submenu:hover > a::after {
    border-left-color: #ffffff;
}
.dropdown-submenu > a::after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu .dropdown-menu::before{
    border: none !important;
}
/*MAp Section in contact Page Close*/
/*Month Year Button*/
.toggle_year{
width: 100%;
display: inline-block;
text-align: center;
margin-top: 2%;
margin-bottom: 3%;
}
.first_box{
text-align: left;
   /* border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;*/
    border-right: 0;
border: 1px solid #eee;
/*background: #ef716e;*/
padding: 10px 50px;
text-decoration: none;
color: #888;
cursor: pointer;
font-size: 14px;
font-weight: 600;
}
.first_box:hover,.second_box:hover,.third_box:hover{
color: #888;
text-decoration: none;
}
.second_box{
text-align: left;
border: 1px solid #eee;
background: #f8f9fa;
padding: 10px 50px;
text-decoration: none;
color: #888;
cursor: pointer;
font-size: 14px;
font-weight: 600;
}
.third_box{
text-align: left;
/*border-top-right-radius: 30px;
border-bottom-right-radius: 30px;*/
border-left: 0;
border: 1px solid #eee;
background: #f8f9fa;
padding: 10px 50px;
text-decoration: none;
color: #888;
cursor: pointer;
font-size: 14px;
font-weight: 600;
}

/*Close Month Year Buttton*/
.toggle_year a.active{
color: #fff;
background: #83878d;
}
.map_section .col-md-4{
    padding: 0px;
    width: 33.63%;
    display: inline-block;
    
}
.address_info{
display: inline-block;
width: 100%;
background: #ef716e;
color: #fff;
top: 3%;
/*position: absolute;*/
text-align: left;
left: 0%;
padding: 20px 50px;
height: 559px;
}
.address_info h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4em;
}
.address_info span{
    font-weight: 700;
    display: inline-block;
    color: #fff;
}
.address_info > h3 > img{
    display: inline-block;
    vertical-align: top;
}
.address_info p{
    color: #fff;
font-size: 15px;
text-align: left;
padding: 20px;
}
.address_info a{
   margin-left: 20px;
   margin-bottom: 5%;
}
.address_info::after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -12px;
    content: " ";
    pointer-events: none;
    border: solid transparent;
    border-width: 12px;
    /*border-color: #ef716e;*/
    border-top-color: #ef716e;
}
.contact_banner{
    display: inline-block;
    width: 100%;
}
.contact_banner_matter{
    width: 100%;
    /*display: inline-block;*/
    text-align: center;
    color: #fff;
    position: absolute;
    top: 9%;
    padding: 0px 15%;
}
.contact_banner_matter h4{
    font-size: 50px;
    color: #fff;
    display: inline-block;
    line-height: 1.7em;
}
.contact_banner_matter p{
    width: 100%;
    display: inline-block;
    color: #fff;
    line-height: 1.7em;
    font-size: 20px;
}
.contact_banner_matter a{
  text-align: center;
  display: inline-block;
  width: 100%;
}
.contact_banner_matter a:hover{
       /* margin-top: 10px; */
    display: inline-block;
    transform: translateY(6px);
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
        transition: all .35s; 
}
.currency_block{
    width: 100%;
display: inline-block;
min-height: 75px;
}
.currency_block select{
   width: 250px;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 15px 20px;
}
/*Dropdown Pricing*/
/*.dropbtn {
    background-color: #9ecf7b;
color: white;
padding: 10px 8px;
font-size: 14px;
border: none;
cursor: pointer;
}

.currency_block .dropdown {
   position: relative;
text-align: left;
margin-left: 70px;
}

.dropdown-content {
    display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 0px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
text-align: left;
padding: 7px 0px;
}

.dropdown-content a {
      color: #666;
    padding: 13px 27px 7px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    line-height: 1.2em;
    height: 40px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
   
}
*/

/*.currency_block .dropdown {
    text-align: center;
     position: relative;
}

.currency_block .dropdown .dropbtn {
   background-color: #9ecf7b;
color: white;
padding: 10px 8px;
font-size: 14px;
border: none;
cursor: pointer;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #666;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 1.2em;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}*/

/*Drop Down*/
 /* Dropdown Button */
.currency_block .dropbtn {
    background-color: #9ecf7b;
    color: white;
    padding: 10px 8px;
    font-size: 14px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.currency_block .dropdown {
    position: relative;
    display: inline-block;
    min-height: 130px;
}

/* Dropdown Content (Hidden by Default) */
.currency_block .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.currency_block .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

/* Change color of dropdown links on hover */
.currency_block .dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.currency_block .dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.currency_block .dropdown:hover .dropbtn {
    background-color: #3e8e41;
} 
/*Drop Down*/


/*Dropdown Pricing*/
.address_info{
    display: inline-block;
    margin-top: 0%;
}
/*other Footer*/
.contact_footer{
    width: 100%;
    background: #242424;
    padding-top: 3%;
}
.contact_address{
    width: 100%;
    display: inline-block;
    text-align: left;
    margin: 5% 0% 17%;
}
.contact_address h3{
    width: 100%;
    display: inline-block;
    color: #666;
    font-size: 15px;
    text-align: left;
}
.contact_person{
    display: inline-block;
    width: 100%; 
    margin: 5% 0% auto;
}
.contact_person p{
    width: 100%;
    display: inline-block;
    color: #ccc;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0px;
}
.contact_person p span{
    width: 100px;
    display: inline-block;
}
.social_links{
    width: 100%;
    display: inline-block;
    text-align: right;
}
.social_links a{
    height: 40px;
    width: 40px;
    border-radius: 25px;
    display: inline-block;
    text-decoration: none;
    background: #404040;
    color: #666;
    text-align: center;
    line-height: 40px;
    margin-right: 15px;
}
.social_links a:hover{
    background: #fff;
}
.social_links a svg{
    display: inline-block;
}
.footer_bottom{
    padding: 1rem 0 1.5rem;
    color: #666;
    border-top: .0625rem solid #2f2f2f;
    text-align: left;
    width: 100%;
    display: inline-block;
}
.links_nav{
    display: inline-block;
    width: 100%;   
}
.links_nav ul{
    display: inline;
    margin: 0px;
    padding: 0px;
}
.links_nav ul li{
 display: inline;   
}
.links_nav ul li a{
    display: inline;
    font-size: 13px;
    padding-right: 10px;
    border-right: 1px solid #999;
    text-decoration: none;
    color: #73cac2;
}
.links_nav ul li:last-child a{
    border: none;
}
.footer_bottom p{
    display: inline-block;
    width: 100%;
    font-size: 13px;
}
.login_page{
    width: 100%;
   /* display: inline-block;*/
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.login_page .user_section{
     width: 33.33%;
    display: inline-block;
    position: relative;
    margin: 0px;
    padding: 0px;
    float: left;
    text-align: center;
}
.user_over{
    display: inline-block;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(115,202,194,0.93);
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
}
.user_matter{
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #fff;
    top:38%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.user_matter .para{
    display: inline-block;
    font-size: 20px;
    text-shadow: 1px 1px #60b4ac;
}
.user_matter .para > span{
    font-size: 30px;
    font-weight: 600;
}
.user_matter  a{
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 22px;
    padding: 10px 30px;
    text-align: center;
    margin-top: 5%;
    display: inline-block;
    text-shadow: 1px 1px #3dbdb1;
}
.user_matter  a:hover , .sales_matter  a:hover, .buyer_matter  a:hover{
    text-decoration: none;
}
.buyer_over{
    display: inline-block;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(245,191,74,0.96);
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
}
.buyer_matter{
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #fff;
    top:25%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.buyer_matter .para{
    display: inline-block;
    font-size: 20px;
    text-shadow: 1px 1px #d1a951;
}
.buyer_matter .para > span{
    font-size: 30px;
    font-weight: 600;
}
.buyer_matter  a{
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 22px;
    padding: 10px 30px;
    text-align: center;
    margin-top: 5%;
    display: inline-block;
    text-shadow: 1px 1px #c09e53;
}

.sales_over{
    display: inline-block;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(239,113,110,0.97);
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;

}
.sales_matter{
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #fff;
    top:38%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.sales_matter .para{
    display: inline-block;
    font-size: 20px;
     text-shadow: 1px 1px #c07270;
}
.sales_matter .para > span{
    font-size: 30px;
    font-weight: 600;
}
.sales_matter  a{
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 22px;
    padding: 10px 30px;
    text-align: center;
    margin-top: 5%;
    display: inline-block;
     text-shadow: 1px 1px #ba6563;
}
.para_next{
    font-size:17px;
    text-align: center;
    display: inline-block;
    padding: 30px;
    line-height: 1.7em;
   /* text-shadow: 1px 1px #ab8e4d;*/
}
.testimonial-content img{
    /*margin-bottom: 20px;*/
    display: inline-block;
    width: 100%;
    text-align: center;
   /* margin-top: 5%;*/
   /*width: 600px;
   height: 410px;*/
}
.testimonial-content .benifits{
width: 100%;
display: inline-block;
padding-top: 20px;
border-top: 1px solid #eee;
}
.testimonial-content .benifits h2{
    font-size: 20px;
    display: inline-block;
    text-align: left;
   color: #51514d;
    font-weight: 600;
    margin-bottom: 0px; 
}
/*.testimonial-content .benifits p::after{
border-bottom: 5px solid #ffb200;
position: absolute;
content: '';
left: 0px;
width: 30px;
}*/
.benifits_list{
    display: inline-block;
    width: 100%;

}
.benifits_list ul{
    display: inline-block;
    padding: 0px;
    margin-top: 7px;
}
.benifits_list ul li{
    font-size: 14px;
    line-height: 1.9em;
    display: block;
}
.how_works{
    margin-top: 5%;
background: #58c8c2;
padding: 10px 25px;
border-radius: 4px;
color: #fff;
display: inline-block;
 margin-bottom: 5%;
}
.how_works:hover{
    color: #fff;
    text-decoration: none;
}
.earn-point a{
    display: inline-block;
    width: 100%;
}
.earn-point p{
  position: absolute;
top: 28px;
left: 10px;
/*padding: 5px;*/
right: 10px;
font-size: 13px;
color: #fff;
text-shadow: 1px 1px #4eb1a8;
text-align: center;
}
.earn-point p > span{
    font-size: 18px;
}
.pro_free{
    font-size: 20px;
    font-weight: 600;
}

.biliboard3 {
    width: 160px;
padding: 15px 0px;
    text-align: center;
    position: relative;
    background: #fff;
    color: #73cac2;
   font-size: 85%;
    text-transform: capitalize;
    border: 2px solid #73cac2;
border-radius: 2px;
font-weight: 500;
font-family: Open Sans;
}
.biliboard3:hover{
   background: #73cac2;
    color: #fff; 
    text-decoration: none;
}
.billed img{
    display: inline-block;
}
.sign_form{
    width: 100%;
    background: transparent;
    padding: 30px;
    margin: 0px;
    display: inline-block;
    float: left;
}
.sign_form_refer{
      width: 49%;
    /*background: #fff;*/
   /* padding: 30px;*/
    margin: 0px;
    display: inline-block;
}
.all_benifits{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-top: 2%;
    background: #f9f9f9;
    border-top: 7px solid #58c8c2;
}
.testimonial-content .read_more_button{
 display: inline-block;
float: right;
/*width: 100%;*/
}
.testimonial-content .logo_img{
    display: inline-block;
    width: auto;
    height: auto;
}
.testimonial-content h3{
    color: #fff;
}
.testimonial-content  .benifits_list ul li{
    color: #fff;
}
.get_pro .why_pre{
color: #fff;
/*text-decoration: underline;*/
text-align: center;
margin: 3% 0%;
display: inline-block;
font-size: 14px;
}
.get_pro .why_pre:hover{
    text-decoration: none;
}
.get_pro  .contact_pre{
   border: 1px solid #fff;
  background: #fff;
    color: #ef716e;
   padding: 10px; 
   font-size: 14px;
   margin: 6% 0%;
   border-radius: 4px;
   display: inline-block;
   font-weight: 600;
}
.why_pre_under{
    border-bottom:2px solid #fff; 
    display: inline-block;
    width: auto;
}
.left_add{
    display: inline-block;
    width: 43%;
}
.other_nav{
    display: inline-block;
    float: left;
}
.highlist_list{
   background: #424244;
width: 100%;
border: none;
color: #fff;
}
.highlist_list1{
 background: #73cac2;
width: 100%;
border: none;
color: #fff;
}
.compare_feature > .table-responsive > .table > tbody > tr .center_matter{
    text-align: center;
}
.compare_feature .table h4{
    font-size: 16px;
    font-weight: 600;

}
.premium-partners .Get_started{
    margin-top: 0px;
}
.premium-partners .Get_started h3{
        margin-top: 0px;
        width: 50%;
        font-size: 33px;
}
.contact_us_matter{
width: 100%;
display: inline-block;
text-align: center;
margin-top: 0%;
}
.contact_us_matter h3 {
    text-align: center;
    width: 70%;
    display: inline-block;
    font-family: 'Open Sans';
    color: rgb(77, 79, 84);
    /* text-transform: capitalize; */
    margin: 50px 0px 5px 0px;
    position: relative;
    line-height: 45px;
}
/*Signup Free*/
.try_free{
    width: 100%;
    display: inline-block;
    /*background: #424244;*/
    text-align: center;
    margin-top: 0%;
}
.try_free h1{
    color: #73cac2;
    font-weight: 800;
    padding: 2%;
   font-size: 40px;
line-height: 52px;
text-transform: capitalize;
}
.try_free p{
    color: #fff;
    font-size: 20px;
}
.signin_signup{
    background: #fff;
   /* display: inline-block;*/
    width: 100%;
    background: url('../images/signup_back.jpg');
    text-align: center;
    color: #fff;
    margin-top: 5%;
    background-repeat: no-repeat;
background-size: cover;

}
.sign_form .form-group input[type="text"],.sign_form .form-group input[type="password"]{
width: 100%;
line-height: 37px !important;
border-radius: 4px;
border: none;
padding-left: 20px;
padding-right: 20px;
font-size: 16px;
line-height: 1.7em;
color: #999;
}
.sign_form .form-group .radio{
    color: #fff;
    text-align: left;
    font-style: normal;
    width: 100%;
    display: inline-block;
    padding-left: 20px;
        font-weight: 400 !important;
        font-size: 15px;
line-height: 1.7em;
}
.checkbox label, .radio {
    min-height: 20px;
 padding-left: 0px; 
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    font-style: normal;
    color: #fff;
}
.label_input {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
/*Signup Free*/
.raised{
margin-top: 20px;
margin-bottom: 20px;
}
.contact_reasion{
font-weight: 600;
font-size: 30px;
}

.signin_signup1{
    background: #fff;
    /* display: inline-block; */
    width: 100%;
    background: url("../images/signup_back.jpg");
    text-align: center;
    color: #fff;
    /* margin-top: 5%; */
    background-repeat: no-repeat;
    background-size: cover;
}
.try_free1 {
    width: 100%;
    display: inline-block;
    background: #424244;
    text-align: center;
    margin-top: 5%;
}
.try_free1 h1 {
    color: #73cac2;
    font-weight: 800;
    padding: 2%;
    font-size: 64px;
    line-height: 52px;
    text-transform: capitalize;
}